{% extends '../home/base.html' %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/events.css' %}">


<div class="event-wrapper">
</div>

<div class="event-content">

<nav class="navbar navbar-inverse">
	<div class="navbar-header">
		<a href="#" class="navbar-brand">Events</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url 'home:index' %}">Techspace</a></li>

		{% if user.is_authenticated %}
		<li><a href="{% url 'log:logout' %}">Logout</a></li>
		{% endif %}
	</ul>

</nav>
<div class="container-fluid">

{% if events %}
{% for event in events reversed %}
<div class="event-card">
  <h2 class="center"> {{ event.title }} </h2>
  <h5 class="center"> {{ event.date }} </h5>
  <h5 class="center"> {{ event.content|linebreaks|truncatewords:50 }} </h5>
  <div class="underline"></div>
  <a href="{% url 'event:detail' event.slug %}">(more...)</a>
</div>
<div class="end_line"></div>
{% endfor %}


{% else %}
<h1>No events to display</h1>
</div>
</div>
{% endif  %}

{% endblock %}
