{% extends '../community/base.html' %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/community_style.css' %}">







<div class="container-fluid">

{% if events %}
{% for event in events reversed %}
<div class="event-card">
  <h2 class="center"> {{ event.title }} </h2>
  <h5 class="center"> {{ event.date }} </h5>
  <h5 class="center"> {{ event.content|linebreaks|truncatewords:50 }} </h5>
  <div class="underline"></div>
  <a href="{% url 'event:detail' event.slug %}">(more...)</a>
</div>
<div class="end_line"></div>
{% endfor %}


{% else %}
<h1>No events to display</h1>
</div>

{% endif  %}

{% endblock %}
