<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/achievements/main.css' %}">
    <title>Achievements</title>
  </head>
  <body>
    <div class="header">
      <a href="{% url 'home:index' %}"><img class="header_logo" src="{% static 'img/TS-1.jpg' %}" /></a>
      <div class="header_text">
        <h1 class="header_text_main animate-left">We are from #Techspace</h1>
        <h3 class="header_text_secondary animate-right">See some of our achievements below</h3>
      </div>
    </div>
    <div class="main">
      <div class="achievements achievement_1">
        <h1 class="heading">Achievement 1</h1>
        <div class="achievement_content">
          <div class="achievement_text">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
          <div class="achievement_images">
            <img src="{% static 'img/achievements/img1.jpg' %}" alt="" class="achievement_images_img achievement_images_img_1">
            <img src="{% static 'img/achievements/img2.jpeg' %}" alt="" class="achievement_images_img achievement_images_img_2">
            <img src="{% static 'img/achievements/img3.jpg' %}" alt="" class="achievement_images_img achievement_images_img_3">
          </div>
        </div>
      </div>

      <div class="achievements achievement_2">
        <h1 class="heading">Achievement 2</h1>
        <div class="achievement_content">
          <div class="achievement_images">
            <img src="{% static 'img/achievements/img1.jpg' %}" alt="" class="achievement_images_img achievement_images_img_1">
            <img src="{% static 'img/achievements/img2.jpeg' %}" alt="" class="achievement_images_img achievement_images_img_2">
            <img src="{% static 'img/achievements/img3.jpg' %}" alt="" class="achievement_images_img achievement_images_img_3">
          </div>
          <div class="achievement_text">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
        </div>
      </div>

      <div class="achievements achievement_3">
        <h1 class="heading">Achievement 3</h1>
        <div class="achievement_content">
          <div class="achievement_text">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
          <div class="achievement_images">
            <img src="{% static 'img/achievements/img1.jpg' %}" alt="" class="achievement_images_img achievement_images_img_1">
            <img src="{% static 'img/achievements/img2.jpeg' %}" alt="" class="achievement_images_img achievement_images_img_2">
            <img src="{% static 'img/achievements/img3.jpg' %}" alt="" class="achievement_images_img achievement_images_img_3">
          </div>
        </div>
      </div>
    </div>

    <div class="footer">

    </div>
  </body>
</html>
