<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>
    <link rel="stylesheet" href="{% static './css/achievements/main.css' %}">
    <title>Achievements</title>
  </head>
  <body>
    <div class="header">
      <a href="{% url 'home:index' %}"><img class="header_logo" src="{% static 'img/TS-1.jpg' %}" /></a>
      <div class="header_text">
        <h1 class="header_text_main animate-left">We are from #Techspace</h1>
        <h3 class="header_text_secondary animate-right">See some of our achievements below</h3>
      </div>
    </div>
    <div class="main">
      <div class="achievements achievement_1">
        <h1 class="heading slide-up">Achievement 1</h1>
        <div class="achievement_content">
          <div class="achievement_text slide-right">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
          <div class="achievement_images slide-left">
            <img src="{% static 'img/achievements/img1.jpg' %}" alt="" class="achievement_images_img achievement_images_img_1">
            <img src="{% static 'img/achievements/img2.jpeg' %}" alt="" class="achievement_images_img achievement_images_img_2">
            <img src="{% static 'img/achievements/img3.jpg' %}" alt="" class="achievement_images_img achievement_images_img_3">
          </div>
        </div>
      </div>

      <div class="achievements achievement_2">
        <h1 class="heading slide-up">Achievement 2</h1>
        <div class="achievement_content">
          <div class="achievement_text slide-left">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
          <div class="achievement_images slide-right">
            <img src="{% static 'img/achievements/img1.jpg' %}" alt="" class="achievement_images_img achievement_images_img_1">
            <img src="{% static 'img/achievements/img2.jpeg' %}" alt="" class="achievement_images_img achievement_images_img_2">
            <img src="{% static 'img/achievements/img3.jpg' %}" alt="" class="achievement_images_img achievement_images_img_3">
          </div>
        </div>
      </div>

      <div class="achievements achievement_3">
        <h1 class="heading slide-up">Achievement 3</h1>
        <div class="achievement_content">
          <div class="achievement_text slide-right">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
          <div class="achievement_images slide-left">
            <img src="{% static 'img/achievements/img1.jpg' %}" alt="" class="achievement_images_img achievement_images_img_1">
            <img src="{% static 'img/achievements/img2.jpeg' %}" alt="" class="achievement_images_img achievement_images_img_2">
            <img src="{% static 'img/achievements/img3.jpg' %}" alt="" class="achievement_images_img achievement_images_img_3">
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="sitemap">
          <h4>Sitemap</h4>
          <a href="/community/" class="footer-links">Techspace Community</a><br>
          <a href="/events/" class="footer-links">Events</a><br>
          <a href="#clubs" class="footer-links">Clubs @Techspace</a>
          <br>
          <br>
      </div>
      <div class="social">
          <h5>Connect with us on:</h5>
          <a href="https://facebook.com/techspaceusict" class="footer-links"><i class="fab fa-facebook fa-2x"></i></i></a> &nbsp;&nbsp;
          <a href="mailto:techspaceusict@gmail.com" class="footer-links"><i class="fa fa-envelope fa-2x"></i></a>
          <br>
          <br>
      </div>
      <div class="ipu">
          <a href="http://ipu.ac.in" target="_blank" class="footer-links"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/GGSIU_logo.svg/220px-GGSIU_logo.svg.png" height="200px"><br>
          Guru Gobind Singh <br>Indraprastha University</a>
      </div>
    </div>
  </body>
  <script>

    var slideUp = {
      distance: '150%',
      origin: 'bottom',
      opacity: 0,
      easing: 'ease-out',
      duration: 700,
    };

    var slideLeft = {
      distance: '30px',
      origin: 'right',
      opacity: 0,
      easing: 'ease-out',
      duration: 700,
    };

    var slideRight = {
      distance: '30px',
      origin: 'left',
      opacity: 0,
      easing: 'ease-out',
      duration: 700,
    };

    ScrollReveal().reveal('.slide-up', slideUp);
    ScrollReveal().reveal('.slide-left', slideLeft);
    ScrollReveal().reveal('.slide-right', slideRight);
  </script>
</html>
