{% extends './base.html' %}
{% load staticfiles %}
{% block content %}
<!-- THE TOP PART OF THE WEBPAGE -->
<div class="container-fluid" style="background: linear-gradient(45deg, #cd517c 30%, #f75e0f 90%) !important;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 alumni-content text-center">
         <a href="http://ipu.ac.in" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/GGSIU_logo.svg/220px-GGSIU_logo.svg.png" height="100px"><br></a>
          <h1>Alumni Association, USICT</h1>

            <h5>About the alumni association</h5>
          
          <div class="row">
             <div class="col col-md-4 col-xs-4 text-center">
                <img src="{% static 'img/team/dean_maam.jpg' %}" class="faculty-img">
                <p>Dr. Arvinder Kaur <br> <em>Dean, USICT</em></p>
            </div>
            <div class="col col-md-4 col-xs-4 text-center">
                <img src=" https://media.licdn.com/dms/image/C5603AQHJeJ2kgMN-qw/profile-displayphoto-shrink_800_800/0?e=1543449600&v=beta&t=W6qo9LoGagUXA8Hurf79_ZCCscQLN3mnLSHDB_2Ylec" class="faculty-img">
                <p>Prof. Bharti Suri <br> <em>Chairperson, TPO</em></p>
                <p></p>
            </div>
             <div class="col col-md-4 col-xs-4 text-center">
                <img src="{% static 'img/team/rajiv.jpeg' %}" class="faculty-img">
                <p>Rajiv Jha<br> <em>Alumni Association Lead</em></p>
                <p></p>
            </div>
          </div>
          <br>
            
         <div class="row text-center">
            <div class="col col-xs-12">
                
                <h3>ALUMS REPO</h3>
                <p> We are initiating the web portal of Alumni association of USICT with a sense of belonging to our alma mater.
                The ALUMS Reppsitory will help us keep track of one's contribution and initiatives launched by our community.
                We welcome all the ex-students of USICT to join the community and help us move forward our own alma mater.</p>
                <p>Wanna Join Hands ? <a href="http://bit.ly/alumrepo">Get Your Membership here.</a></p>
                <hr>
                <br>
                
                <h3>ASK ALUMS</h3>
                <p> Are you looking for some guidance from Alums of our own college, who have been in your shoes before.
                Submit your query <a href="http://bit.ly/askalums">here</a>. An alum will reply back to your query with in a week.</p>
                <br>
                <hr>
                <h3>RAISE ANNUAL FUND FOR TECHNOLOGY (RAFT)</h3>
                <p>
                    A form where any active and authorized organization can raise a Fund Request for an upcoming event (atleast a month before. 
                    The committe also aims to accommodate funds for events for a complete academic year for clubs. 
                    Alumni committee will then respond to the request with in a time frame.
                    Representative of Organization / Club can submit their request <a href="http://bit.ly/raftalum">here</a>.</p>
                <br>
                <hr>
                <h3>WORK WITH ALUMS</h3>
                <p>Do you have a skill and you are looking for a platform to showcase. Submit your registration <a href="http://bit.ly/workwithalums">here</a>.</p>
                <p>Currently we are looking for Front-end and django developers to develop the alumni portal at Techspace.</p>
                <br>
                <hr>
                <h3>ALUMS RESEARCH MONETARY SCHOLARSHIP (ARMS)</h3>
                <p> This scholarship will be awarded to students for completing a project under Techspace. 
                    Form will be up in December and shortlisted Fellows list will be displayed by April. 
                    Fellowship will start in month of June. The project timeline extends till September and final submission will be done before InfoX. 
                    These projects will be showcased in infoxpression. The successful students will be known as ARMS fellow.</p>
                <p>For early signup, submit the<a href="http://bit.ly/armsfellowship"> ARMS Fellowship Interest Form</a>.</p>
                <hr>
                
            </div>

          </div>
          <br>  
          <div class="row text-center">
            <div class="col col-xs-12">
                <h3>TECHSPACE COUNCIL 2017</h3>
                <p>Section under construction</p>
                <br>
                <h3>TECHSPACE COUNCIL 2016</h3>
                <p>Section under construction</p>
                <br>
                <h3>TECHSPACE COUNCIL 2015</h3>
                <p>Section under construction</p>
                <br>
                <h3>TECHSPACE COUNCIL 2014</h3>
                <p>Section under construction</p>
                <br>
            </div>

          </div>
         </div>
    </div>
</div>

<!--  there we go FOOTER-->
{% include './components/footer.html' %}

{% endblock %}
