{% extends './base.html' %}
{% load staticfiles %}
{% block content %}
<!-- THE TOP PART OF THE WEBPAGE -->
<div class="container-fluid">
    <div class="row" style="background: linear-gradient(45deg, #cd517c 30%, #f75e0f 90%) !important;">

    <div class="col col-xs-12 text-center">
        <br>
        <br>
        <h1>Alumni Association, USICT</h1>
        <p> Page under construction</p>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
</div>

<!--  there we go FOOTER-->
{% include './components/footer.html' %}

{% endblock %}