
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- required meta tags -->
    <meta charset="utf-8">

    <meta name="description" content="TechSpace - Tech society of USICT, GGSIPU, Dwarka">
    <meta name="keywords" content="techspace, usict, usit, ggsipu, ipu, ip, dwarka, delhi, new delhi, south delhi, technology, tech, society">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>TechSpace</title>
	{% load staticfiles %}
    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate/animate.css' %}">

    <!-- magnific-popup CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.css' %}"> -->

    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.default.min.css' %}">

    <!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo+Bhaijaan" rel="stylesheet">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


</head>


{% block content %}
{% endblock %}



</html>
