<!--  -->
{% extends '../home/base.html' %}


{% block content %}


<style>
    


.svg-wrapper {
  height: 100px;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 12px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 50px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 12px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 8px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
</style>


<body data-spy="scroll" data-target=".navbar-fixed-top" data-offset="65">

    <header>

        <nav class="navbar navbar-fixed-top">

            <div class="container-fluid">

                <div class="vesco-nav-wrapper">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vesco-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                       </button>

                        <a class="navbar-brand" href="#home">
                            <h1 class="navbar-pop">TS</h1>
                            <!-- <img src="img/logo.png" alt="logo"> -->
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="vesco-menu">
                        <ul class="nav navbar-nav">
                            <li><a class="smooth-scroll" href="#home">Home</a></li>
                            <!-- <li><a class="smooth-scroll" href="#services">SIG</a></li> -->
                            <li><a class="smooth-scroll" href="#about">About</a></li>
                            <li><a class="smooth-scroll" href="#work">Club</a></li>
                            <li><a class="smooth-scroll" href="#team">Team</a></li>
                            <li><a class="smooth-scroll" href="#testimonials">Testimonials</a></li>
                            <!-- <li><a class="smooth-scroll" href="#pricing">Pricing</a></li> -->
                            <li><a class="smooth-scroll" href="#stats">Stats</a></li>
                            <li><a class="smooth-scroll" href="#clients">Association</a></li>
                            <li><a class="smooth-scroll" href="#contact">Contact</a></li>           

                        </ul>

                        

                    </div>

                </div>

            </div>
        </nav>

    </header>




    <!-- Home -->
    <section id="home">

        <div id="home-cover" class="bg-parallax animated fadeIn">

            <div id="home-content-box">

                <div id="home-content-box-inner" class="text-center">

                    <div id="home-heading" class="animated zoomIn">
                        <h3>Welcome to<br></h3>
                    </div>

                    <div class="svg-wrapper">
                          <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                          </svg>
                           <div class="text">TechSpace</div>
                    </div>


                   <!--  <div id="home-btn" class="animated zoomIn">
                        <a class="btn btn-lg btn-general btn-white smooth-scroll" href="#work" role="button" title="View Our Work">View Our Work</a>
                    </div> -->

                </div>

            </div>

        </div>

    </section>

    <!-- Services -->
    <section id="services">

        <!-- <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> SIG </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">

                <div class="row">

                    
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

                            <div class="service-item-icon">
                                <i class="fa fa-laptop fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3> CodeGeek</h3>
                            </div>

                            <div class="service-item-desc">
                                <p>Group of like minded coders who love to compete at asymptotic level.</p>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4 col-sm-6">

                        <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

                            <div class="service-item-icon">
                                <i class="fa fa-tablet fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3>Ignited Minds</h3>
                            </div>

                            <div class="service-item-desc">
                                <p>How to win hackathons.</p>
                            </div>

                        </div>

                    </div>
                    
                </div>

            </div>


        </div>

    </section> -->

    <!-- About -->
    <section id="about">

        <!-- About right side with diagonal BG parallax -->
        <div id="about-bg-diagonal" class="bg-parallax"></div>

        <!-- About left side with content -->
        <div class="container">

            <div class="row">

                <div class="col-md-4">

                    <div id="about-content-box">

                        <div id="about-content-box-outer">

                            <div id="about-content-box-inner">

                                <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                                    <h3> About TechSpace </h3>
                                    <div class="content-title-underline"></div>
                                </div>

                                <div id="about-desc" class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                                    <p>Magna arbitror et dolor amet, fabulas do noster non eu mentitum praesentibus e est ex quid cupidatat. Dolore reprehenderit probant quorum tempor, illum hic ut illum pariatur. Qui o magna aute labore.</p>
                                </div>

                                <div id="about-btn" class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

                                    <a class="btn btn-lg btn-general btn-blue smooth-scroll" href="#work" role="button" title="View Work"> Our Work </a>

                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- Work -->
    <section id="work">

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Clubs </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container-fluid">

                <div class="row no-gutters wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

                        {% if clubs %}
                            {% for club,app_url in clubs %}
                   <a href="{% url app_url %}">
                    <div class="col-md-3 col-sm-4 card_logo">
                       
                        <div class="img-wrapper">
                                <img src="{{ club.club_image.url }}" class="img-responsive">
                                <div class="overlay">
                                    <h4>{{ club.club_name }}</h4>
                                    <div class="center">
                                    <a href="{% url app_url %}" class="info">more...</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                       </a> 

                      {% endfor %}
                        {% else %}
                            <h1>No clubs to display.</h1>

                        {% endif %}
                    </div>
                        

                </div>

            </div>
        </div>
        <!-- End Content Box -->
    </section>

    <!-- Team -->
    <section id="team">

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Our Team </h3>
                <div class="content-title-underline"></div>
            </div>


            <div class="container">

                <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="col-md-12">

                        <div id="team-members" class="owl-carousel owl-theme">
                        <div class="team-member">
                                <img src="{% static 'img/team/navdeepb.jpg' %}" class="img-responsive p" alt="team member">
                                <div class="team-member-info text-center">
                                    <h4 class="team-member-name">Navdeep Sandhu</h4>
                                    <h4 class="team-member-designation">Founder</h4>
                                    <ul class="social-list">
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="team-member">
                                <img src="{% static 'img/team/rajiv.jpeg' %}" class="img-responsive p" alt="team member">
                                <div class="team-member-info text-center">
                                    <h4 class="team-member-name">Rajeev Jha</h4>
                                    <h4 class="team-member-designation">Co-Founder</h4>
                                    <ul class="social-list">
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-member">
                                <img src="{% static 'img/team/piyush.jpg' %}" class="img-responsive p" alt="team member">
                                <div class="team-member-info text-center">
                                    <h4 class="team-member-name">Piyush Mehndiratta</h4>
                                    <h4 class="team-member-designation">President</h4>
                                    <ul class="social-list">
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-member">
                                <img src="{% static 'img/team/prabhanshu.jpg' %}" class="img-responsive p" alt="team member">
                                <div class="team-member-info text-center">
                                    <h4 class="team-member-name">Prabhanshu Gupta</h4>
                                    <h4 class="team-member-designation">Convenor</h4>
                                    <ul class="social-list">
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="team-member">
                                <img src="{% static 'img/team/pranjal.jpg' %}" class="img-responsive p" alt="team member">
                                <div class="team-member-info text-center">
                                    <h4 class="team-member-name">Pranjal Rajan</h4>
                                    <h4 class="team-member-designation">Chairperson</h4>
                                    <ul class="social-list">
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-icon icon-gray"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- End Content Box -->
    </section>

    <!-- Testimonials -->
    <section id="testimonials">

        <div id="testimonials-cover" class="bg-parallax">
            <div class="content-box">
                <div class="content-title content-title-white wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                    <h3> Achievements </h3>
                    <div class="content-title-underline"></div>
                </div>

                <div class="container">

                    <div class="row wow animated bounceInDown" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="col-md-12">

                            <div id="customers-testimonials" class="text-center owl-carousel owl-theme">

                                <div class="testimonial">
                                    <img src="{% static 'img/client/av.png' %}" class="img-responsive img-circle" alt="testimonial">
                                    <blockquote class="text-center">
                                        <p>Two time GSOCer.</p>
                                        <p>Paper published in IEEE.</p>
                                        <p>Gamer - DOTA champion.</p>
                                        <p></p>
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p>
                                            <strong> Anudit Verma </strong>
                                            <!-- <span> CEO & Founder - Google </span> -->
                                        </p>
                                    </div>
                                </div>

                                <div class="testimonial">
                                    <img src="{% static 'img/client/sid.jpg' %}" class="img-responsive img-circle" alt="client" />
                                    <blockquote class="text-center">
                                        <p>Top coder at CodeChef.</p>
                                        <p>Finalist in Naggaro Code-n-counter.</p>
                                        <p>Top contributor in Py Data Delhi &amp; PyCon.</p>
                                    </blockquote>

                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Siddharth Gupta</strong>
                                            <!-- <span>CEO & Founder - Yahoo</span> -->
                                        </p>
                                    </div>
                                </div>


                                <div class="testimonial">
                                    <img src="{% static 'img/client/nishchal.jpg' %}" class="img-responsive img-circle" alt="client" />
                                    <blockquote class="text-center">
                                        <p>MS(AI) at Edinburgh University.</p>
                                        <p>Entrepreneur</p>
                                    </blockquote>

                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Nishchal Gaba</strong>
                                            <!-- <span>CEO & Founder - Amazon</span> -->
                                        </p>
                                    </div>
                                </div>

                                <div class="testimonial">
                                    <img src="{% static 'img/client/harshit.jpeg' %}" class="img-responsive img-circle" alt="client" />
                                    <blockquote class="text-center">
                                        <p>GSOC mentor.</p>
                                        <p>Google associate android developer</p>
                                    </blockquote>

                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Harshit Dwivedi</strong>
                                            <!-- <span>CEO & Founder - Amazon</span> -->
                                        </p>
                                    </div>
                                </div>

                                <div class="testimonial">
                                    <img src="{% static 'img/client/vatsal.jpeg' %}" class="img-responsive img-circle" alt="client" />
                                    <blockquote class="text-center">
                                        <p>Head of Kotlin group.</p>
                                        <p>Speaker at GDG.</p>
                                    </blockquote>

                                    <div class="testimonial-author">
                                        <p>
                                            <strong>Vatsal Bajpayee</strong>
                                            <!-- <span>CEO & Founder - Amazon</span> -->
                                        </p>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- End Content Box -->
        </div>
    </section>

    
    </section>

    <!-- Stats -->
    <section id="stats">

        <div id="stats-cover" class="bg-parallax">

            <div class="content-box">
                <div class="content-title content-title-white wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                    <h3> We Never Stop Improving </h3>
                    <div class="content-title-underline"></div>
                </div>

                <div class="container">

                    <div class="row text-center wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <i class="fa fa-cloud-download fa-5x"></i>
                                <h2><span class="counter"> 300000 </span><span>+</span></h2>
                                <p>Lines of Code</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <i class="fa fa-star-o fa-5x"></i>
                                <h2><span class="counter"> 25 </span><span>+</span></h2>
                                <p>Number of projects</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <i class="fa fa-heart-o fa-5x"></i>
                                <h2><span class="counter"> 500 </span><span>+</span></h2>
                                <p>Number of students</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <i class="fa fa-check fa-5x"></i>
                                <h2><span class="counter"> 2200 </span><span>+</span></h2>
                                <p>Recomended</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- End Content Box -->
        </div>
    </section>

    <!-- Clients -->
    <section id="clients">

        <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3> Associations </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">

                <div class="row wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="col-md-12">
                        {% if assocs %}
                        <div id="clients-list" class="owl-carousel owl-theme">

                            {% for assoc in assocs %}
                                <div class="client col-md-8">
                              <!--   {{ assoc.company }} -->
                                <img src="{{ assoc.company_img.url }}">
                                </div>
                            {% endfor %}
                        </div>


                        {% else %}
                        <h1>Nothing to display</h1>
                        {% endif %}

                       
        <!-- End Content Box -->
    </section>

    <footer>

        <div id="contact">

            <div class="container">

                <div class="row">

                    <div class="col-md-6">
                        <div id="contact-left">

                            <h3>TechSpace</h3>
                            <!-- <p>We believe in <strong>Simple</strong>, <strong>Clean</strong> & <strong>Modern</strong> Design Standards with Responsive Approach. Browse the amazing work of our company.</p> -->

                            <div id="contact-info">

                                <address>
                                    <strong>Headquarters:</strong><br>
                                    <p>USICT, GGSIPU<br>
                                    Dwarka, New Delhi</p>
                                </address>
                                <div id="phone-fax-email">
                                    <p>
                                        <strong>Phone:</strong><span>  </span> <br>
                                        <strong>Fax:</strong><span>  </span> <br>
                                        <strong>Email:</strong><span>   </span> <br>
                                    </p>
                                </div>

                            </div>
                            <ul class="social-list">
                                <li><a href="#" class="social-icon icon-white"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="social-icon icon-white"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="social-icon icon-white"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" class="social-icon icon-white"><i class="fa fa-google-plus"></i></a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="contact-right">

                            <h3>Contact Us</h3>
                            <form id="contact_form">
                            {% csrf_token %}

                                <input type="text" id="name" name="name" placeholder="Full Name" class="form-control" required>
                                <input type="text" id="email" name="email" placeholder="Email Address" class="form-control" required>
                                <textarea rows="5" id="content" name="content" placeholder="Message..." class="form-control" required></textarea>

                                <button class="btn btn-lg btn-general">Submit</button>
                                
                                <!-- <div id="send-btn">
                                    <a class="btn btn-lg btn-general btn-white" type="submit" href="#" role="button">SEND</a>
                                </div> -->

                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-6">

                        <div id="footer-copyrights">
                            <p>Copyrights &copy; 2017 All Rights Reserved by Vesco Inc.</p>
                        </div>

                    </div> -->
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <div id="footer-menu">
                            <ul>
                                <li><a class="smooth-scroll" href="#home">Home</a>/</li>
                                <li><a class="smooth-scroll" href="#services">SIG</a>/</li>
                                <li><a class="smooth-scroll" href="#work">About</a>/</li>
                                <li><a class="smooth-scroll" href="#team">Team</a>/</li>
                                <li><a class="smooth-scroll" href="#testimonials">Testimonials</a>/</li>
                                <!-- <li><a class="smooth-scroll" href="#pricing">Pricing</a>/</li> -->
                                <li><a class="smooth-scroll" href="#stats">Stats</a>/</li>

                                {% if user.is_authenticated %}
                                <li><a  href="{% url 'log:logout' %}"> Logout</li>
                                {% else %}
                                <li><a href="{% url 'log:login' %}">Login</a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#home" id="back-to-top" class="btn btn-sm btn-blue btn-back-to-top smooth-scroll hidden-sm hidden-xs" title="home" role="button">
            <i class="fa fa-angle-up"></i>
        </a>

    </footer>

    {% load staticfiles %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- bootstrap JS -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- WOW JS -->
    <script src="{% static 'js/wow/wow.min.js' %}"></script>

    <!-- magnific-popup JS -->
    <!-- <script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script> -->

    <!-- owl carousel JS -->
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>

    <!-- counter -->
    <script src="{% static 'js/counter/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/counter/jquery.counterup.min.js' %}"></script>

    <!-- easing -->
    <script src="{% static 'js/easing/jquery.easing.1.3.js' %}"></script>


    <!-- custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
</body>





<script type="text/javascript">

    $(document).on('submit', '#contact_form', function(e){
        e.preventDefault();

        var formData = $('#contact_form').serializeArray();
        formData.push({ name: "app_name", value: "techspace" });
        

        $.ajax({
            type: 'POST',
            url: '/contact/submit/',
            data: formData,
            success:function(){
                clearMsg();
            }
        });
    });

    function clearMsg(){
        var s = document.getElementById('contact_form');
        v = "<div class='form_msg'><h2>Your message has been recorded.<br>Thank you for your response.</h2></div>"
        s.innerHTML = v;
        console.log("Success");
    }

</script>
{% endblock %}