{% extends '../log/base.html' %}

{% block title %} - Login{% endblock %}

{% block content %}


<div class="container-fluid">

<div class="col-sm-offset-4 col-sm-4">
<div class="login_card container-fluid">

<div class="inner_card col-centered">

<form action="{% url 'log:login' %}" method="POST">
	{% csrf_token %}

	{{ errors }}
	<input class="form-control" type="text" name="username" placeholder="username" required><br>
	<input class="form-control" type="password" name="password" placeholder="password" required><br>
	{% if error %}
                    <p class=" label label-danger">
                        Your username and password didn't match. 
                        Please try again.
                    </p>
    {% endif %}

	<button class="btn btn-block btn-primary">Login</button>	
</form>
<h5>Not registered? Create an <a href="{% url 'log:register' %}">account</a> </h5>

</div>

</div>
</div>
</div>


<style type="text/css">body{
	background: #b3c6ff;
}</style>
{% endblock %}

