{% extends '../community/base.html' %}

{% block title %}Reset password{% endblock %}


{% block content %}


<div class="container text-center">
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-xs-12 col-md-4 card login-card">
		<p>Please specify your email address to receive instructions for resetting it.</p>

		<form action="" method="post" class="form-group">
		    <div style="display:none">
		        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		    </div>
		     {{ form.email.errors }}
		    <p><label for="id_email">E-mail address:</label><br> {{ form.email }} <br><br> <input class="btn btn-block btn-wire-dark-simple" type="submit" value="Reset password" /></p>
		</form>
	</div>
	</div>
</div>

{% endblock %}
