{% extends '../community/base.html' %}

{% block title %} - Register{% endblock %}

{% block content %}


<div class="container text-center">
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-xs-12 col-md-4 card login-card">
	<h5 class="small-heading">Register with Techspace community.</h5>
	<br>	
	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		<button class="btn btn-block btn-wire-dark-simple">Submit</button>
	</form>

	</div>
	</div>
</div>


<!-- 
	{% if registered %}
		<h3>Thanks for registering with us.</h3>
	{% else %}
	<h1>Register</h1>
	<form method="post">
		{% csrf_token %}
		{{ user_form.as_p }}
		<input type="submit" value="Submit">
	</form>
	{% endif %}
 -->{% endblock %}