{% extends '../community/base.html' %}

{% block title %} - Register{% endblock %}

{% block content %}


<div class="container text-center">
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-xs-12 col-md-4 card login-card">
	<h5 class="small-heading">Register with Techspace community.</h5>
	<br>
	{% include 'global_components/django_messages.html' %}

	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<div class="g-recaptcha" data-sitekey="6Lft7WkUAAAAAPiekKyU7kBzb-LVvuGEGJZkWzMF"></div>
        <br>
		<button class="btn btn-block btn-wire-dark-simple">Submit</button>
	</form>
    <br>
        <p>Already have an account. <a href="{% url 'register' %}">Sign in.</a></p>
	</div>
	</div>
</div>

<br>
<br>
<!--
	{% if registered %}
		<h3>Thanks for registering with us.</h3>
	{% else %}
	<h1>Register</h1>
	<form method="post">
		{% csrf_token %}
		{{ user_form.as_p }}
		<input type="submit" value="Submit">
	</form>
	{% endif %}

 -->
<script>

    function setAttributes(el, attrs) {
        for(var key in attrs) {
            el.setAttribute(key, attrs[key]);
        }
    }
    function check(){
        if(document.getElementById("id_password").value == document.getElementById("id_confirm_password").value){
            id_confirm_password.setCustomValidity("");
        }else{
            id_confirm_password.setCustomValidity("Passwords Don't Match");
        }
    }
    var label = document.getElementsByTagName("LABEL");
    var i;
    for (i = 0; i < label.length; i++) {
        label[i].style.display = 'none';
    }
    var year_label = document.createElement("LABEL");
    var year_label_text = document.createTextNode("Year of graduation : ");
    year_label.appendChild(year_label_text);
    var year = document.getElementById("id_year_of_graduation");
    var password = document.getElementById("id_password");
    var node = document.createElement("input");
    var id_username = document.getElementById("id_username");
    document.getElementsByClassName("helptext")[0].style.display = 'none';
    password.parentNode.insertBefore(node, password.nextSibling);
    setAttributes(year, {"class":"form-control"})
    setAttributes(node, {"type" :"password" ,"name":"confirm_password" , "onkeyup":"check()", "id":"id_confirm_password" , "required":"" , "placeholder":"Confirm Password" , class:"form-control"});
    setAttributes(password, {"onkeyup":"check()" , "placeholder":"Password" , class:"form-control"});
    setAttributes(id_username,{class : "form-control"});
    setAttributes(year_label, {"for":"id_year_of_graduation"});
    year.parentNode.insertBefore(year_label, year.previousSibling);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/autocomplete.js/<VERSION>/autocomplete.min.js"></script>

 {% endblock %}
