<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Codeschool | Techspace</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>

        <!-- Header -->

       

        <!-- Nav -->

        <nav class="navbar navbar-default sticky-top navbar-expand-lg navbar-dark bg-dark" id="navbar" style="padding: 0">
             <a href="{% url 'codeschool:index' %}" class="navbar-brand" style="padding: 0"><img src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/27655467_1015855511887016_3811491225726412371_n.jpg?_nc_cat=0&oh=cedde82864ef809b06ee6fc9cb4fdb5d&oe=5C072693" alt="Codeschool" height="70px;" style="padding: 0;"></a>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto  navbar-center">
                        <li class="nav-item active">
                            <a class="nav-link navbar_item" href="{% url 'codeschool:index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar_item" href="{% url 'codeschool:teams' %}" >Team</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link navbar_item" href="{% url 'codeschool:classes' %}" >Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar_item" href="{% url 'codeschool:contests' %}" >Contests</a>
                        </li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navbar_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                Achievements
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'codeschool:acm-icpc' %}">ACM ICPC</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'codeschool:other-contests' %}">Other Contests</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'codeschool:batch-hof' %}">Batch HOF</a>
                               <!-- <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Add Achievements</a>-->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar_item" href="{% url 'codeschool:calendar' %}" >Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar_item" href="{% url 'codeschool:connect' %}" >Connect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar_item" href="#" >Judge</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

            {% block content %}
            {% endblock %}
            
            
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>