{% extends '../community/base.html' %}

{% block title %}{{title}}{% endblock %}


{% block content %}


<div class="container text-center">
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-xs-12 col-md-4 card login-card">
		The server encountered an error. If you think this is a bug, report it at
		<a href="https://github.com/techspaceusict/techspace-web" target="_blank">the project repo.</a>
		<br>
		<br>
		<a href="{% url 'community:index' %}">Back to home</a>
	</div>
	</div>
</div>

{% endblock %}
