body, html{
	max-height: 100%;
	max-width: 100%;
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding:0;
	display: block;
/*	overflow-x: hidden;*/  /*this is not the correct way*/

}
.container-fluid{
	padding: 0;
	margin: 0;
}

.section1, .section2, .section3, .team, .contact{
	position: relative;
	opacity:0.7;
	/*margin-top: -1.5%;*/
	background-color: #222;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.navbar-right{
  margin-right: 1em;
  right: 0;
}


.section1{
	background-image: url('../../img/ecell/pexels-photo-355988.jpeg');
	min-height: 45em;

}
.header-tag{
	position: absolute;
	color: #000;
	line-height: 1.3em;
	transform: scale(1, 1.5);

	text-align: center;
	width: 100%;

    font-family: 'Archivo Black', sans-serif;


	/*left: 50%;*/
	top: 40%;
	font-weight: 45px;


	font-size: 3em;

}
.line1{
	color: #fff;
}
.line2{
	color:  #005c99;
}
.intro,.index_event,.index_blog{
	text-align: center;
	padding: 2em 4em;
}
.index_event{
    font-family: 'Ubuntu', sans-serif;

}
.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}
.section2{
	background-image: url('../../img/ecell/writing-notes-idea-conference.jpg');
	min-height: 20em;
}
.section3{
	background-image: url('../../img/ecell/pexels-photo-269451.jpeg');
	min-height: 20em;
}
.team{
	background-image: url('../../img/ecell/pexels-photo-209640.jpeg');
	min-height: 20em;
}
.index_team{
	display: inline-block;
  width: 100%;
	background: ;
	padding: 2%;
	padding-left: 4%;

}

.team_image{

	height: 18em;
	width: 14em;
	margin: 0;
	background-color: rgb(215,215,215);
	border:.1em solid rgb(215,215,215);

}
.team_name{
	width:14em;
	background:rgb(215,215,215);
	margin: 0;
	padding: .2em .3em;
	text-align: center;


}
.team_designation{
	background:rgb(215,215,215);
	
}
.contact{
	background-image: url('../../img/ecell/pexels-phot.jpg');
	min-height: 60em;

}
.contact-label{
	text-align: center;
	padding:2%;
	color: #000;
	word-spacing: .03em;
    font-family: 'Ubuntu', sans-serif;

}
.contact_form{
	padding-left:30%;
	padding-right: 0;
	margin-bottom: 5%
}
.form-name,.form-email,.form-number,.form-subject,.form-msg1{
	width: 40%;
	border:1px solid #000;
	margin: 2%;
	color: #000;
	background-color: transparent;
}

.form-msg1{
	min-height:10em;
	resize: none; 
}
.btn1{
	background-color: #ff0000;
	color: #fff;
}
.btn1:hover{
	background-color: #ff6666;
	color: #fff;
}
.form-name{
	width: 40%;
}

.form_msg{
	line-height: 1em;
	word-spacing: .03em;
    font-family: 'Ubuntu', sans-serif;

}
input::placeholder {
  color: red;
}

.footer{
	background-color: #242729;
	color: #666;
}

/*
nav{
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-flex;
	background: #222;
	color: #fff;
}

.navbar{
	display: inline;
	width: 100%;

}
.navbar-brand{
	width: 10%;
}
.navbar-header{
	display: inline;
	width: 30%;

}
.navbar-contents{
	margin-right: 3%;
	display: inline;
	width: 70%;
	float: right;
}
.right{
	float: right;
}
.navbar-data{
	width: 100%;
	float:right;

}
ul li{
	text-decoration: none;
	list-style: none;
	display: inline;
}
ul{
	display: inline-block;
}
a{
	color:inherit;
	text-decoration: none;
}
ul li a:hover, ul li a:focus{
	color: rgb(215,215,215);
}
.navbar-data li{
	margin-left: 2%;
	position: relative;

} */
