.container-fluid{
	margin: 2%;
}
.center{
	text-align: center;
}

.blog_content{
	margin:0 10%;
	word-wrap: break-word;
}
p{
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	word-spacing: .1em;
	letter-spacing: .05em;
	font-size: 1em;

}
h2, h1{

    font-family: 'Bitter', serif;

}
h5, h4{

    font-family: 'Merriweather', serif;

}
.underline{
	width: 15em;
	background:  #cc0000;
	height: .3em;
	margin: 0 auto 30px auto;
	border-radius: 1.5em;
}
.end_line{
	width: 80em;
	height: .1em;
	background: rgb(215,215,215);
	margin: 3em auto 5em auto;
}
.blog_image{
	width: 70%;
	margin: 5em auto;
}