* {
  box-sizing: border-box
}

@font-face {
font-family: Nimbus;
src: url("/Nimbus.ttf");
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  /*overflow-clip-box: hidden;  */
}

nav {
  border-bottom: 1px solid #ccc; 
  background-color: white;
  z-index: 2 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: sticky;
} 

.nav-logo {
  height: 80px;
}

@media screen and (max-width: 770px) {
  .nav-logo{
   height: 50px;
  }
}
.content-top {
  height:  calc(100vh - 91px);
  position: absolute;
}

.fa-chevron-down {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
}

/*.content-top::after {
  content: "";
  background: url("../img/3.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/

.back {
  background : url("../img/14.jpg");
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 0;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-size: cover;
}

#particles-js {
  height:  calc(100vh - 91px);
  background: linear-gradient(45deg, #cd517c 30%, #f75e0f 90%) !important;
  z-index: -2;
}

@media screen and (max-width: 786px) {
  .content-top {
    height:  calc(100vh - 61px);
  }
  #particles-js {
    height:  calc(100vh - 61px);
  }
}

.border-div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px 0 0;
  border-color: #fff #ddd transparent transparent;
}

.border-div-2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 100vw 0 0;
  border-color: #fff #ddd transparent transparent;
  transform: scale(1.0001) rotateZ(-180deg);

}

@media only screen and (min-width: 550px) {
  .border-div { 
    border-width: 50px 100vw 0 0;
  }
  .border-div-2 { 
    border-width: 50px 100vw 0 0;
  }
}

.btn-wire {
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s all;
  color: white;
  cursor: pointer;

}

.btn-wire:active,
.btn-wire:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid white;
  color: white;
}

.btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s all;
  color: #888;
  cursor: pointer;

}

.btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}

.btn-wire-dark:focus,
.btn-wire:focus {
  outline: none;
}
.spacer {
  transition: 0.3s all;
}

.about-section {
  background-color: #f7f7f7;
  position: relative; 
}

.slant-heading {
  z-index: 3;
  line-height: 2rem;
  /*position: relative;*/
  /*top: -2.2rem;*/
  /*background: #333;*/
  /*-webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);*/
}

@media screen and (min-width: 770px){
  #about {
    border-bottom: 1px dashed #f29260;
  }
}

.section-heading {
  letter-spacing: 0.2rem;
  font-size: 2.7rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .section-heading {
    font-size: 2rem;
  }
}

.small-section-heading {
  letter-spacing: 0.2rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

.nav-link {
  position: relative;
}

.nav-link.pills::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom:2px solid #00f;
    border-radius: 50%;
}

.nav-link.pills.active:before {
  border: 0px;
}

.navbar-toggler:focus {
  outline: none;
}
.club-headings {
  font-family: Comfortaa;
}

.club-bg {
  position: relative;
  overflow: hidden;
  background-image: url(http://placekitten.com/g/300/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.club-bg:after {
  content: "";
  position: absolute;
  top: -6%;
  right: 80%;
  height: 700px;
  width: 600px;
  background: #f7f7f7;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(5deg);
}

ul.about-list {
  padding-left: 0;
  padding-top: 0;
}

p.about-para {
  padding-bottom: 0;
  margin-bottom: 0;
}

/*.section-heading:after {
  position: absolute;
  bottom: -0.7rem;
  content: '';
  width: 100%;
  height: 80px;
  left: 0;
  z-index: -1;
  background: #fff;
  border: solid #00f 2px;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden;
} */

.small-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'Quicksand';
}


.faculty-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 100px;
  width: 100px;
}

.contact-section {
  background: #333;
  /*position: relative;*/
  color: white;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .contact-form-div {
    border-bottom: 2px dotted white; 
  }
}
@media screen and (min-width: 768px) {
.contact-form-div {
  border-right: 2px dotted white; 
}

}
.logo-partner {
  height: 150px;
  margin-bottom: 20px;
  /*border: 2px solid white;*/
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.contact-label {
  font-family: 'Titillium Web'
}
.techspace-title {
  font-family: 'Do Hyeon';
  font-size: 4.5rem;
}

.circle-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 90px;
  width: 90px;
  background-size: cover;
  display: inline-block;

}

.content-blog {
  background-color: #f7f7f7;
  position: relative;
  padding: 2rem;
}

#list-clubs {
  padding-top: 2rem;
}

.about-club {
  padding: 15px;
}
.list-group-item.active {
  background-color: #f29260;
  border-color: #f29260;
}

.hr {
  border-bottom: 1px solid #ccc;
}

.hr::before {
  content: ' ';
  background-color: #f29260;
  width: 30px;
  height: 3px;
  display: block;
}

.blog-date {
  color: grey;
  font-size: 13px;
}

#about-bg-diagonal {
    width: 50%;
    height: 480px;
    float: right;
    background-image: url(../img/13.jpg);
    border-left: 100px solid #f7f7f7;
    border-top: 480px solid transparent;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
}

input, textarea {
  padding: 5px;
  width: 300px;
}

input:focus, textarea:focus {
  outline: none;
}

.footer-links {
  color: #f2925f;
}
.footer-links:hover {
  text-decoration: none;
}
