/*====================================================
                DEFAULT VALUES:

                Font Family                 : Roboto Condensed
                
                Greenish Blue               : #34c6d3       (Buttons, Icons, Links, Lines & Backgrounds)
                Steel Gray                  : #41464b       (Headings)
                Blue Bayoux                 : #64707b       (Paragraphs)
                White                       : #fff          (Text With Black Backgrounds)
                Black                       : #000 

======================================================*/


/* General CSS */

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}


/*====================================================
                        HOME
======================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/pexels-photo-131637.jpeg");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

#home-heading h3 {
    color: #fff;
    font-size: 4em;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.4em;
    word-spacing: .09em;
    margin: 20px 0 20px 0;
    font-family: 'Alfa Slab One', cursive;


}


/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*====================================================
                        BUTTONS (Generic)
======================================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}


/*====================================================
                       ANIMATE
======================================================*/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}

#home-cover {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}


/*====================================================
                       CONTENT (Generic)
======================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}


/*====================================================
                       SERVICES
======================================================*/

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}


/*====================================================
                       ABOUT
======================================================*/

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/edit.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}


/*====================================================
                       WORK
======================================================*/

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
    height: 23em;
}
.img-wrapper:nth-child(even){
    background-color: #800000;

}
.img-wrapper:nth-child(odd){
    background-color: #000;
    
}
.img-wrapper img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.img-wrapper img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    cursor: zoom-in;
}
.card_logo{
    background-color: #222;
}
.card_logo .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.card_logo img {
width: 100%;
height:100%;


display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.card_logo h4 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:20px;
top:6em;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:5px;
}

.card_logo p {
    color: #fff;
    font-size: 15px;
}

.overlay .center{
    margin-left: 38%;
}
.card_logo a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
border-radius: 4px;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:30px 0 0;
padding:7px 14px;
}

.card_logo a.info:hover {
box-shadow:0 0 5px #fff;
background-color: #fff;
color: #222222;

}

.card_logo:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.card_logo:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
padding-top: 30%;

}

.card_logo:hover h2,.card_logo:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.card_logo:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

/*====================================================
                       TEAM
======================================================*/

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}
.p{
    height: 25em;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}


/*====================================================
                       SOCIAL
======================================================*/

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

.icon-white i {
    color: #fff;
}

.social-icon i:hover {
    color: #34c6d3;
}


/*====================================================
                       TESTIMONIALS
======================================================*/

#testimonials-cover {
    background-image: url("../img/bg-testimonials.jpg");
}

#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.1);
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p {
    color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p {
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}


/*====================================================
                       PRICING
======================================================*/

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-spec {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
    color: #34c6d3;
    background-color: #fff;
}

.pricing-box-lg ul.pricing-spec li p {
    color: #fff;
}


/*====================================================
                       STATS
======================================================*/

#stats-cover {
    background-image: url("../img/bg-stats.jpg");
}

#stats .content-box {
    background-color: rgba(0, 0, 0, .8);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i {
    color: #34c6d3;
}

.stats-item h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}


/*====================================================
                       CLIENTS
======================================================*/

.client {
    padding: 40px 0;
}


/*====================================================
                       CONTACT
======================================================*/

footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    color: #fff;
}
address strong { font-size: 16px; }
address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}


/*====================================================
                       FOOTER
======================================================*/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}
.card h1{
    text-align: center;
    margin-top: 50%;
    /*background: #800000;*/
    color: #fff;
}


/*====================================================
                       NAVIGATION
======================================================*/

.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-pop{
    color: #fff;
    padding-top: 0;
    margin-top: -.5em;
}
.vesco-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

.vesco-nav-wrapper {
    padding: 0 85px.5}

.navbar-nav {
    float: right;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: #34c6d3;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

.vesco-top-nav ul.navbar-nav>li.active>a {
    color: #34c6d3;
}