<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	{% load staticfiles %}
	<!-- Compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	 <!-- Compiled and minified JavaScript -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
{% include './navbar.html' %}

<div class="container-fluid" style="margin: 2%;">
{% block content %}



{% endblock %}
</div>

</body>
</html>
