{% extends './base.html' %}

{% block content %}



{% if user.is_authenticated %}

<h4>hey, {{ user.username }}</h4>
<h4>{{ user.club }}</h4>



<h2><a href=" {% url 'log:blog-add' %} ">Add blog</a></h2>



{% if blogs %}
<ul>
	{% for blog in blogs %}
	{% if blog.author == user.username %}
	<li>
		<p><a href="{% url 'log:blog-detail' blog.slug %}"> {{ blog.title }}</a></p>
		<p>{{ blog.author }}</p>
	</li>
	{% endif %}
	{% endfor %}
</ul>

{% else %}

<h4>No blogs To show</h4>

{% endif %}


{% else %}

<h1>You need to login first!</h1>

{% endif %}



{% endblock %}
