{% extends './base.html' %}
{% block content %}

<div class="container">

    <ul class="posts">

      <!-- Begin comment -->
      <li class="row card-post">
          <div class="d-none d-sm-block col-md-2"></div>
          <div class="col-xs-12 col-md-8 card">
              <div class="row">
                {% if comments %}
                {% for comment in comments %}
                <div class="col-xs-6 col-md-12 discussion-content">
                  <h5><a href="#" class="blog-post-profile">{{ comment.post.title }}</a> <span class="blog-date">by {{ comment.post.author }} on {{ comment.post.date }}</span></h5>
                  <p>{{ comment.comment_text|safe }}</p>
                  <div class="post-actions" style="position:absolute;bottom:1rem">
                  <span class="blog-date">on {{ comment.comment_date }}</span>
                 </div>

                </div>
                
              {% endfor %}
              {% else %}
              <div style="padding :10px">
              <h5>{% if user.is_authenticated and profile.user.username == user.username %} Your comments on other discussions appear here.{% else %} No comments to show.</h5>
              {% endif %}
              {% endif %}
            </div>
          </div>
      </li>
      <!-- End comment -->



  </ul>
</div>


{% endblock %}
