{% extends '../community/base.html' %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <br>
    <div class="row">
        <div class="d-none d-sm-block col-md-2"></div>
        <div class="col-xs-12 col-md-8 card profile-container">
            <div class="row">
                <div class="col-xs-8 col-md-9">
                    <h2 class="profile-name">{{ userprofile.user.username }}</h2>
                    <p class="profile-bio">{{ userprofile.bio }}</p>
                    <h6>{{ userprofile.course }}</h6>
                    <h6>{{ userprofile.institution }}</h6>
                    <a href="{{ userprofile.facebook }}"><i class="fa fa-facebook"></i></a>
                    <a href="{{ userprofile.twitter }}"><i class="fa fa-twitter"></i></a>
                    <a href="{{ userprofile.email }}"><i class="fa fa-envelope"></i></a>
                    <a href="{{ userprofile.linkedIn }}"><i class="fa fa-linkedin"></i></a>
                    <a href="{{ userprofile.github }}"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-xs-4 col-md-3 text-center">
                    <img class="profile-img" src="{{ userprofile.profile_pic.url }}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <br>
                    <!-- If other user -->
                    <span class="small-p"><a href="#">Send Message</a> |</span>
                    <span class="small-p"><a href="#" class="small-p">Report User</a> |</span>
                    <!-- If logged in -->
                    <span class="small-p"><a href="{% url 'log:edit_profile' %}" class="small-p">Edit profile </a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="d-none d-sm-block col-md-2"></div>
        <div class="col-xs-12 col-md-8 posts-container">
            <ul class="nav nav-tabs" id="profileTabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Discussions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Comments</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Portfolio</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Teams</a>
              </li> -->
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% else %}
<h2>You neeed to login first <a href="{% url 'log:login' %}"></a></h2>

{% endif %}

{% endblock %}
