{% extends './base.html' %}
{% block content %}

<div class="container">

    <ul class="posts">
      <!-- Begin post -->

      <li class="row card-post">

          <div class="d-none d-sm-block col-md-2"></div>
          <div class="col-xs-12 col-md-8 card">
          <!--    <img class="card-img-top d-block d-sm-none" src="{% static 'img/bg-about.jpg' %}" alt="Card image cap">-->
              
                {% if blogs %}
                  {% for blog in blogs %}
                  <div class="row blog-list-profile">
                  {% if blog.isblog %}

                <div class="col-xs-6 col-md-8 blog-content-profile">
                  <a href="{% url 'blog:blog-detail' slug=blog.slug %}" class="blog-post-profile"><h4>{{ blog.title  }}</h4></a>
                  <h6 class="blog-date">{{ blog.date }} by <a href="{% url 'log:dashboard' name=blog.author %}">{{blog.author}}</a></h6>
                  <p>{{ blog.description|truncatewords:30 }}<a class="small" href="{% url 'blog:blog-detail' slug=blog.slug %}"> more...</a></p>
                  <div class="post-actions" style="position:absolute;bottom:1rem">
                    <p style="display: inline;" class="small-p">Upvotes ({{ blog.upvotes }})</p> |
                    <p style="display: inline;" class="small-p">{{ blog.comments.all.count }} comments</p>
                      {% if user == profile %}
                       | <form action="#" method="get">
                          <a class="post-actions-button small-p" href="{% url 'blog:blog-edit' slug=blog.slug %}">Edit</a>
                        </form> |
                        <form action="#" method="post" >
                          <a class="post-actions-button small-p" href="{% url 'blog:blog-delete' slug=blog.slug %}">Delete</a>
                        </form>
                      {% endif %}
                 </div>
                </div>
                <!-- <div class="col-xs-6 col-md-4"> -->

                  {% if blog.image %}
                  <div class="filter d-none d-sm-block"></div>
                  <div class="blog-image-profile d-none d-sm-block" style="background-image: url('{{ blog.image.url }}');background-size: cover;    background-position: center;"></div>
                  {% endif %}
                   {% else %}
                    <div style="height:200px; width:100%;">
                    <h5>No blogs available. <a href="{% url 'blog:blog-add' %}">Post something new!!!</a></h5>
                    </div>
                    {% endif %}
                    </div>
                    {% endfor %}

                  {% else %}
                  <div style="padding:10px;">

              <h5>{% if user.is_authenticated and profile.user.username == user.username %}You haven't written any blogs. <a href="{% url 'blog:blog-add' %}">Write something today.</a>{% else %} No blogs to show.{% endif %}</h5>
                    </div>
                  {% endif %}

              

          </div>

      </li>
      <!-- End post -->

  </ul>
</div>


{% endblock %}
