{% extends './base.html' %}
{% block content %}

<div class="container">

    <ul class="posts">

    <!-- Begin post -->

    <li class="row card-post">
        <div class="d-none d-sm-block col-md-2"></div>
        <div class="col-xs-12 col-md-8 card">
            <div class="row">
              {% if posts  %}
              {% for post in posts  %}
               {% if not post.isblog %}
                <div class="col-xs-6 col-md-10 discussion-content">
                  <a href="#" class="blog-post-profile"><h5>{{post.title}}</h5></a>
                  <h6 class="blog-date">{{post.date}}</h6>
                    {% if post.image %}
                   <div class="discussion-image-xs d-block d-sm-none" style="background-image: url('{{ post.image.url }}');background-size: cover;background-position: center;"></div><hr>
                    {% endif %}
                  <p>{{ post.content }}</p>
                  <br>
                  <div class="post-actions" style="position:absolute;bottom:1rem">
                    <a href="#" class="small-p"><i class="fa fa-thumbs-up"></i> Upvote (22)</a> |
                    <a href="#" class="small-p">2 comments</a>
                      {% if user == profile %}
                       | <form action="#" method="get">
                          <button class="post-actions-button small-p">Edit</button>
                        </form> |
                        <form action="#" method="post" >
                          <button class="post-actions-button small-p">Delete</button>
                        </form>
                      {% endif %}
                 </div>

                </div>
                {% else %}
                <h5>No posts available. <a href="{% url 'blog:post-add' %}">Post something new!!!</a></h5>
                {% endif %}
                {% endfor %}
              {% else %}
              <h5>No posts available. <a href="{% url 'blog:post-add' %}">Post something new!!!</a></h5>


              {% endif %}

              <!-- <div class="col-xs-6 col-md-4"> -->

        </div>
    </li>
    <!-- End post -->

  </ul>
</div>

{% endblock %}
