{% extends './base.html' %}

{% block content %}

<div class="blog-container">


<div class="blog_content">

	{% if event_detail %}

	<div class="stack">
		<form action="{% url 'log:event-edit' event_detail.slug %}" method="get">
			<button>Edit</button>
		</form>
		<form action="{% url 'log:event-delete' event_detail.slug %}" method="post" >
			{% csrf_token %}
			<button>Delete</button>
		</form>
	</div>


		<h1 class="center">{{ event_detail.title }}</h1>
		<h4 class="center">{{ event_detail.date }} </h4>
		<h4 class="center">{{ event_detail.time }} </h4>
		<h4 class="center">{{ event_detail.venue }} </h4>
		<p>{{ event_detail.content|linebreaks }}</p>

</div>
	{% else %}
		<h1>Nothing to show</h1>


	{% endif %}


</div>

{% endblock %}
