/*Resets*/
html, body {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  /*overflow-x: hidden;*/

  /*overflow-clip-box: hidden;  */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0056b5;
}
/*End Resets*/

@media screen and (min-width: 768px) {
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
}

@font-face {
    font-family: adamcg;
    src: url('blog/HKGrotesk-SemiBold.otf') format("opentype");
}

/*Navbar CSS*/
nav {
  border-bottom: 1px solid #ccc;
  background-color: white;
  z-index: 2 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: sticky;
}

.nav-logo {
  height: 60px;
}

.nav-logo-left {
  height: 45px;
  margin-right: 10px;
}

@media screen and (max-width: 770px) {
  .nav-logo{
   height: 50px;
   margin-right: 10px;
  }
}

.nav-link {
  position: relative;
}

.nav-link.pills::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom:2px solid #00f;
    border-radius: 50%;
}

.nav-link.pills.active:before {
  border: 0px;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-item {
  vertical-align: middle !important;
}

.nav-user-img {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-toggle:focus{
  outline: none !important;
}

.navbar-nav .dropdown-menu {
    left: -50%;
    text-align: center;
    padding: 5px;
}
/*End Navbar CSS*/

/*Buttons, helpers (MISC)*/
.btn-wire {
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s all;
  color: white;
  cursor: pointer;

}

.btn-wire:active,
.btn-wire:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid white;
  color: white;
}

.btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  color: #888;
  cursor: pointer;

}

.btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}

.btn-wire-dark:focus,
.btn-wire:focus {
  outline: none;
}

.section-heading {
  letter-spacing: 0.2rem;
  font-size: 2.7rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .section-heading {
    font-size: 2rem;
  }
}

.small-section-heading {
  letter-spacing: 0.2rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

.small-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'Quicksand';
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.circle-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 90px;
  width: 90px;
  background-size: cover;
  display: inline-block;
}

.hr {
  border-bottom: 1px solid #ccc;
}

.hr::before {
  content: ' ';
  background-color: #f29260;
  width: 30px;
  height: 3px;
  display: block;
}

.list-group-item.active {
  background-color: #f29260;
  border-color: #f29260;
}

.small-p {
  font-size: 0.9rem;
}

.small-footer {
  background: #f2925f;
  position: relative;
  text-align: center;
  padding-top: 5px;
  display: flow-root;
}

.errorlist{
    color: #941212;
    text-decoration:  none;
    list-style:  none;
    background: #e6ada2;
    border-radius:  .6em;
    padding: .7em;
    margin:  .5em;
}

.hidden {
  display: none;
}
/*End Buttons and helpers*/

/*Feed CSS*/
.toolbar-posts {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.toolbar-posts-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.toolbar-posts-bottom > .btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  color: #888;
  cursor: pointer;
  font-size: 13px;
}

.toolbar-posts-bottom > .btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}


.content-posts {
  background-color: #f7f7f7;
  position: relative;
  padding: 2rem;
  padding-top: 1rem;
  min-height: 90vh;

}

.content-posts-main {
  padding-left: 0;
}

@media screen and (min-width : 1500px) {
.content-posts {
  padding-left: 4rem;
  padding-right: 4rem;
  }
}

.blog-date {
  color: grey;
  font-size: 13px;
}

.posts {
  list-style: none;
  padding-left: 0;
}


.post-image {
  height: 100px;
  width: 100px;
  top: 0;
  right: 1rem;
  position: absolute;
}

@media screen and (max-width : 768px) {
  .post-image {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
  }
}

.post-actions > a {
  color: black;
}

.post-actions {
  padding-left: 0px;
}

.post-actions > form {
  display: inline-block;
}

.post-actions-button {
  border: none;
  background-color: transparent;
  color: black;
  display: inline-block;
  padding: 0;
}

.post-actions-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-actions-button:focus {
  outline: none;
}

.upvoted {
  color: #1579f6;
}
.tag {
  background-color: #ccc;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.blog-title {
    width: 75%;
}



.pinned {
  color: green;
  text-decoration: underline;
}
/*End Feed CSS*/

/*Right aside*/
.right-aside {

}

@media screen and (max-width: 768px) {
  .right-aside {
    padding: 0;
  }
}
/**/

/*Profile Dashboard Section*/
.profile-container {
  padding: 20px;
}
.profile-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 100px;
  width: 100px;
  background-size: cover;
  display: inline-block;
}

.profile-name {
  margin-bottom: 0;
  font-size: 1.8rem;
}

.profile-username {
  color: grey;
  font-size: 17px;
}

.profile-social-link {
  font-size: 1.3rem;
  margin-right: 5px;
}

.nav-tabs {
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
}

.nav-tabs::-webkit-scrollbar {
display: none;
}

.posts-container {
  padding: 0;
}

#profileTabs .nav-link.active {
  /*bootstrap reset*/
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
}

.nav-tabs .nav-link:hover {
  /*bootstrap reset*/
  border: 1px solid transparent;
}

.blog-image-profile {
  height: 200px;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  left: 70%;
  border-radius: 0 3px 3px 0;
  /*Automatically expands to right and left*/
}

.filter {
  background-color: rgba(0,0,0,0.3);
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  left: 70%;
  z-index: 2;
  border-radius: 0 3px 3px 0;
}

.blog-content-profile {
  padding: 1.5rem;
  padding-top: 1rem;
  min-height: 200px;
}

.blog-list-profile {
  border-bottom: 1px solid #ccc;
}

.discussion-content {
  padding: 1.5rem;
  padding-top: 1rem;
  /*min-height: 150px;*/
}

.discussion-image {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  /*Automatically expands to right and left*/
}

.discussion-image-xs {
  height: 100px;
  width: 100px;
  text-align: center;
  /*Automatically expands to right and left*/
}

.card-post {
  margin-top: 5px;
  margin-bottom: 10px;
}

.pills {
  margin-bottom: 20px;
}


.grey-hint {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 5px;
}

.grey-hint:hover {
  text-decoration:  none;
}
/*End profile*/


/*Login/Register page*/
.login-card {
  padding: 30px;
  margin-top: 6rem;
}
#id_confirm_password{
    margin-top: 15px;
}
.btn-wire-dark-simple {
  background-color: transparent;
  border: 1px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  cursor: pointer;

}

.btn-wire-dark-simple:active,
.btn-wire-dark-simple:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 1px solid #f29260;
  color: white;
}

.btn-wire-dark-simple:focus,
.btn-wire-simple:focus {
  outline: none;
}
/*EndLogin/Register page*/

/*Create post/blog page*/

.create-post-content{
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#id_tags {
  padding-left: 10px;
  list-style: none;
}

#id_tags > li {
  display: inline-block;
  margin-right: 10px;
}

.django-ckeditor-widget{
  width: 100% !important;
}
/*End create post/blog page*/

/*Events index page*/

#event_card{
    width: 20rem;
    margin-top: 2rem;
}
#card_body{
    font-weight: 400;
    font-size: 16px;
}
#card_subtitle{
    font-size: 16px;
}
.underline_events{
    width: 12em;
    background:  #cc0000;
    height: .2em;
    margin: 0 auto 30px auto;
    border-radius: 1.5em;
}
.card-title.text-center{
    font-size: 1.3rem;
}

/*End Events index page*/

/* Blog page CSS*/
.background-top-blog {
  position:absolute;
  width:100%;
  background-image:url('https://lh4.googleusercontent.com/j9Rz1sytr6GO_4mfb-p5kGwXBtD9mXB54M3nCF-B3twVHpnUXCBwdwovD6M4YyHYT2FVSEKUFbVr7baIPSgeO65Fn6cpNu-jAUCAvf2Dfc4VTWKWADMXNxU0Z_4p-Zwg_w3F1E__nR-Molg');
  width:100%;
  height:250px;
  background-size:cover;
  z-index:0;
}

.blog-page {
  margin-top:50px;
  background-color:#ffffff;
  z-index:1;
  position:relative;
  margin-bottom: 50px;
}

.blog-page-header {
  padding-top: 40px;
}

.blog-page-title {
  font-family: 'adamcg';
  font-size: 3rem;

}



.blog-page-tools .btn-wire-dark {
  margin-bottom: 10px;
  margin-top: 10px;
}

.blog-main {
  margin-top: 50px;
}

@media screen and (max-width: 768px ) {
  .blog-main {
    margin-top: 0px;
  }

  .blog-page-title {
  font-size: 2.5rem;
  }

}
.blog-page-aside {
  text-align: center;
}

.blog-page-aside .sticky {
  padding-top: 20px;

}

@media screen and (min-width: 768px ) {
.blog-page-aside {
  border-right: 2px dashed #ccc;
  }
}

.aside-user-img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.blog-page-content {
  word-wrap: break-word;
  font-family: sans-serif;
  margin-top: 20px;
  width: 100%;
}

.post-page-content {
  word-wrap: break-word;
  font-family: sans-serif;
  width: 100%;
}

.blog-page-description {
  padding: 10px;
  color: grey;
  font-size: 1.2rem;

  overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.blog-page-tools-aside {
  padding: 10px;
}

.blog-page-image{
  width: 70%;
  max-width: 900px;
}

.post-page-image{
  width: 70%;
  max-width: 900px;
}


@media screen and (max-width : 768px)
{
  .blog-page-content img
    {
      width: 100% !important;
      height: auto !important;
      max-width: 600px;
      margin-top: 0;
    }
}

.blog-page-content img {
  display: block;
  margin: auto;
}

.comment {
  background-color: #f7f7f7;
}
.comment-box {
  margin-top: 8px;
  margin: auto;
  width: 80%;
}

.comment-reply-form {
  margin-top: 5px;
}

.comment-list p {
  margin-bottom: 0;
}

.reply {
  background-color: #f3f1f1;
}

.reply-comment {
  cursor: pointer;
}

.reply-comment-button {
  cursor: pointer;
  color: black;
}

.blog-submit-comment {
  float: right;
  margin-bottom: 8px;
}

.borderline {
  border-top: 4px solid #cc0000;
  height: 1px;
  width: 300px;
  margin: 15px auto 0;
  margin-bottom: 30px;
  position: relative;
}

.borderline:before {
  background-color: #6c757d;
  border: 1px ridge #fff;
  content: "";
  height: 15px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -9px;
  width: 44px;
}
.underline{
  width: 15em;
  background:  #cc0000;
  height: .3em;
  margin: 0 auto 30px auto;
  border-radius: 1.5em;
}
.end_line{
  width: 80em;
  height: .1em;
  background: rgb(215,215,215);
  margin: 3em auto 5em auto;
}

/* End Blog page CSS*/
