/*Resets*/
html, body {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  /*overflow-x: hidden;*/

  /*overflow-clip-box: hidden;  */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*End Resets*/

.hr-style {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.hr-style::before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
}

/*Navbar CSS*/
nav {
  border-bottom: 1px solid #ccc;
  background-color: white;
  z-index: 2 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: sticky;
}

.nav-logo {
  height: 60px;
}

.nav-logo-left {
  height: 45px;
  margin-right: 10px;
}

@media screen and (max-width: 770px) {
  .nav-logo{
   height: 50px;
   margin-right: 10px;
  }
}

.nav-link {
  position: relative;
}

.nav-link.pills::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom:2px solid #00f;
    border-radius: 50%;
}

.nav-link.pills.active:before {
  border: 0px;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-item {
  vertical-align: middle !important;
}

.nav-user-img {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-toggle:focus{
  outline: none !important;
}

.navbar-nav .dropdown-menu {
    left: -50%;
    text-align: center;
    padding: 5px;
}
/*End Navbar CSS*/

/*Buttons, helpers (MISC)*/
.btn-wire {
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s all;
  color: white;
  cursor: pointer;

}

.btn-wire:active,
.btn-wire:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid white;
  color: white;
}

.btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  color: #888;
  cursor: pointer;

}

.btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}

.btn-wire-dark:focus,
.btn-wire:focus {
  outline: none;
}

.section-heading {
  letter-spacing: 0.2rem;
  font-size: 2.7rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .section-heading {
    font-size: 2rem;
  }
}

.small-section-heading {
  letter-spacing: 0.2rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

.small-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'Quicksand';
  font-size: 26px;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.circle-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 90px;
  width: 90px;
  background-size: cover;
  display: inline-block;
}

.hr {
  border-bottom: 1px solid #ccc;
}

.hr::before {
  content: ' ';
  background-color: #f29260;
  width: 30px;
  height: 3px;
  display: block;
}

.list-group-item.active {
  background-color: #f29260;
  border-color: #f29260;
}

.small-p {
  font-size: 0.9rem;
}

.small-footer {
  background: #f2925f;
  position: relative;
  text-align: center;
  padding-top: 5px;
  display: flow-root;
}
/*End Buttons and helpers*/

/*Feed CSS*/
.toolbar-posts {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.toolbar-posts-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.toolbar-posts-bottom > .btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  color: #888;
  cursor: pointer;
  font-size: 13px;
}

.toolbar-posts-bottom > .btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}

.row {
  margin-top: 2rem;
}

.content-posts {
  background-color: #f7f7f7;
  position: relative;
  padding: 1rem;
  padding-top: 1rem;
  min-height: 90vh;

}

.content-posts-main {
  padding-left: 0;
}

/* @media screen and (min-width : 1500px) {
.content-posts {
  padding-left: 4rem;
  padding-right: 4rem;
  }
} */

.blog-date {
  color: grey;
  font-size: 13px;
}

.posts {
  list-style: none;
  padding-left: 0;
}

.small-xs{
  text-align: center;
}

.post-image {
  height: 15rem;
  width: 70%;
  display: inline-block;
}

.read-btn {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  color: #ad8353;
  border: 1px solid #ad8353;
  border-radius: 100px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  background: transparent;
}

.blog-info {
  text-align: center;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.blog-info-item {
  font-size: 12px;
}

.read-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ad8353;
}

@media screen and (max-width : 768px) {
  .post-image {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
  }
}

.title-block {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.blog-title {
  display: inline;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 26px;
  font-family: Roboto;
}

.blog-text-box {
  text-align: center;
}

.blog-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-family: monospace;
}

.post-actions > a {
  color: black;
}

.post-actions {
  padding-left: 0px;
  text-align: center;
  margin-top: 2rem;
}

.post-actions > form {
  display: inline-block;
}

.post-actions-button {
  font-size: .9rem;
  border: none;
  background-color: transparent;
  color: black;
  display: inline-block;
  padding: 0;
}

@media screen and (max-width:768px) {
  .post-actions-button {
    font-size: .6rem;
  }
}

.post-actions-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-actions-button:focus {
  outline: none;
}

.upvoted {
  color: #1579f6;
}
.tag {
  background-color: #ccc;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

 @media screen and (max-width: 768px) {
  .small-xs {
    width:100%;
  }
}

@media screen and (min-width: 768px) {
  .blog-title {
    width: 80%;
  }
}


.pinned {
  color: green;
  text-decoration: underline;
}
/*End Feed CSS*/

/*Right aside*/
.right-aside {

}

@media screen and (max-width: 768px) {
  .right-aside {
    padding: 0;
  }
}
/**/

/*Profile Dashboard Section*/
.profile-container {
  padding: 20px;
}
.profile-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 100px;
  width: 100px;
  background-size: cover;
  display: inline-block;
}

.posts-container {
  padding: 0;
}

#profileTabs .nav-link.active {
  /*bootstrap reset*/
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
}

.nav-tabs .nav-link:hover {
  /*bootstrap reset*/
  border: 1px solid transparent;
}

.blog-image-profile {
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  left: 70%;
  border-radius: 0 3px 3px 0;
  /*Automatically expands to right and left*/
}

.filter {
  background-color: rgba(0,0,0,0.3);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 70%;
  z-index: 2;
  border-radius: 0 3px 3px 0;
}

.blog-content-profile {
  padding: 1.5rem;
  padding-top: 1rem;
  min-height: 200px;
}

.discussion-content {
  padding: 1.5rem;
  padding-top: 1rem;
  /*min-height: 150px;*/
}

.discussion-image {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  /*Automatically expands to right and left*/
}

.discussion-image-xs {
  height: 100px;
  width: 100px;
  text-align: center;
  /*Automatically expands to right and left*/
}


.blog-detail-content h4 p{
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 200;
}

.comment-submit-btn {
  font-size: 1rem;
}

.comment-form {
  max-width: 100%;
}

.comment-user-img {
  max-width: 6%;
  display: inline-block;
  margin-bottom: 1rem;
}

.comment-user-img img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .blog-detail-content h4 p{
    font-size: 1rem;
    font-weight: 400;
  }

  .comment-submit-btn {
    font-size: .7rem;
  }

  .comment-user-img {
    max-width: 25%;
    display: inline-block;
    margin-bottom: 1rem;
  }

  .comment-user-img img {
    max-width: 80%;
  }
}

.comment-block {
  display: inline-block;
  padding: 0;
  margin-left: 1rem;
  height: 50px;
  width: 70%;
}

.comment-block a,span {
  display: inline;
  font-size: .9rem;
}

.comment-block h5 {
  margin-bottom: 0;
  font-size: 1rem;
}

.comment-block h6 {
  font-size: .8rem;
}


@media screen and (max-width: 768px) {
  .comment-block {
    margin-left: 0;
    display: inline-block;
    padding: 0;
    height: 50px;
    width: 70%;
  }

  .comment-block a,span {
    display: inline;
    font-size: .7rem;
  }

  .comment-block h5 {
    margin-bottom: 0;
    font-size: .7rem;
  }

  .comment-block h6 {
    font-size: .6rem;
  }
}

.comment-reply-block h5,p,span {
  font-size: 1rem;
}

.comment-reply-block h6 {
  font-size: .9rem;
}

.reply-btn {
  display: inline;
  font-size: .9rem;
}

@media screen and (max-width: 768px) {
  .comment-reply-block h5,p,span {
    font-size: .7rem;
  }
  .comment-reply-block h6 {
    font-size: .6rem;
  }

  .reply-btn {
    font-size: .6rem;
  }
}


.comment-upvote-form {
  max-width: 10%;
  display: inline;
}

.comment-reply-form {
  display: none;
}

.comment-reply-btn {
  display: inline;
  font-size: .9rem;
}

@media screen and (max-width:768px) {
  .comment-reply-btn {
    font-size: .6rem;
  }
}


.card-post {
  margin-top: 5px;
  margin-bottom: 10px;
}

.pills {
  margin-bottom: 20px;
}


.grey-hint {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 5px;
}

.grey-hint:hover {
  text-decoration:  none;
}
/*End profile*/


/*Login/Register page*/
.login-card {
  padding: 30px;
  margin-top: 6rem;
}
#id_confirm_password{
    margin-top: 15px;
}
.btn-wire-dark-simple {
  background-color: transparent;
  border: 1px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  cursor: pointer;

}

.btn-wire-dark-simple:active,
.btn-wire-dark-simple:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 1px solid #f29260;
  color: white;
}

.btn-wire-dark-simple:focus,
.btn-wire-simple:focus {
  outline: none;
}
/*EndLogin/Register page*/

/*Create post/blog page*/

.create-post-content{
  padding: 20px;
  margin-top: 40px;
}

#id_tags {
  padding-left: 10px;
  list-style: none;
}

#id_tags > li {
  display: inline-block;
  margin-right: 10px;
}
/*End create post/blog page*/

/*Events index page*/

#event_card{
    width: 20rem;
    margin-top: 2rem;
}
#card_body{
    font-weight: 400;
    font-size: 16px;
}
#card_subtitle{
    font-size: 16px;
}
.underline_events{
    width: 12em;
    background:  #cc0000;
    height: .2em;
    margin: 0 auto 30px auto;
    border-radius: 1.5em;
}
.card-title.text-center{
    font-size: 1.3rem;
}
/*End Events index page*/

.end_line{
  width: 80em;
  height: .1em;
  background: rgb(215,215,215);
  margin: 3em auto 5em auto;
}
.blog_image{
  width: 70%;
  margin: 5em auto;
}

.underline{
	width: 50%;
	background:  #cc0000;
	height: .3em;
	margin: 0 auto 30px auto;
	border-radius: 1.5em;
}
.end_line{
	width: 80em;
	height: .1em;
	background: rgb(215,215,215);
	margin: 3em auto 5em auto;
}
.blog_image{
	width: 70%;
	margin: 5em auto;
}

.end_line{
	width: 80em;
	height: .1em;
	background: rgb(215,215,215);
	margin: 3em auto 5em auto;
}
.blog_image{
	width: 70%;
	margin: 5em auto;
}
