/*Resets*/ 
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  /*overflow-x: hidden;*/

  /*overflow-clip-box: hidden;  */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*End Resets*/


/*Navbar CSS*/
nav {
  border-bottom: 1px solid #ccc; 
  background-color: white;
  z-index: 2 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: sticky;
} 

.nav-logo {
  height: 60px;
}

.nav-logo-left {
  height: 45px;
  margin-right: 10px;
}

@media screen and (max-width: 770px) {
  .nav-logo{
   height: 50px;
   margin-right: 10px;
  }
}

.nav-link {
  position: relative;
}

.nav-link.pills::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom:2px solid #00f;
    border-radius: 50%;
}

.nav-link.pills.active:before {
  border: 0px;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-item {
  vertical-align: middle !important;
}

.nav-user-img {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
  border-radius: 100%; 
  display: inline-block;
  vertical-align: middle;
}

/*End Navbar CSS*/

/*Buttons, helpers (MISC)*/
.btn-wire {
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s all;
  color: white;
  cursor: pointer;

}

.btn-wire:active,
.btn-wire:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid white;
  color: white;
}

.btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  color: #888;
  cursor: pointer;

}

.btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}

.btn-wire-dark:focus,
.btn-wire:focus {
  outline: none;
}

.section-heading {
  letter-spacing: 0.2rem;
  font-size: 2.7rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .section-heading {
    font-size: 2rem;
  }
}

.small-section-heading {
  letter-spacing: 0.2rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

.small-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'Quicksand';
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.circle-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 90px;
  width: 90px;
  background-size: cover;
  display: inline-block;
}

.hr {
  border-bottom: 1px solid #ccc;
}

.hr::before {
  content: ' ';
  background-color: #f29260;
  width: 30px;
  height: 3px;
  display: block;
}

.list-group-item.active {
  background-color: #f29260;
  border-color: #f29260;
}

.small-p {
  font-size: 0.9rem;
}
/*End Buttons and helpers*/

/*Feed CSS*/
.toolbar-posts {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.toolbar-posts-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.toolbar-posts-bottom > .btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  color: #888;
  cursor: pointer;
  font-size: 13px;
}

.toolbar-posts-bottom > .btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}


.content-posts {
  background-color: #f7f7f7;
  position: relative;
  padding: 2rem;
  padding-top: 1rem;
}

@media screen and (min-width : 1500px) {
.content-posts {
  padding-left: 4rem;
  padding-right: 4rem;
  }
}

.blog-date {
  color: grey;
  font-size: 13px;
}

.posts {
  list-style: none;
  padding-left: 0;
}


.post-image {
  height: 100px;
  width: 100px;
  top: 0;
  right: 1rem;
  position: absolute;
}

@media screen and (max-width : 768px) {
  .post-image {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
  }
}  

.post-actions > a {
  color: black;
}

.post-actions {
  padding-left: 0px;
}

.post-actions > form {
  display: inline-block;
}

.post-actions-button {
  border: none;
  background-color: transparent;
  color: black;
  display: inline-block;
  padding: 0;
} 

.post-actions-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-actions-button:focus {
  outline: none;
}

.upvoted {
  color: #1579f6;
}
.tag {
  background-color: #ccc;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .small-xs {
    width:75%;
  }
}
/*End Feed CSS*/

/*Right aside*/
.right-aside {

}

@media screen and (max-width: 768px) {
  .right-aside {
    padding: 0;
  }
}
/**/

/*Profile Section*/
.profile-container {
  padding: 20px; 
}
.profile-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 100px;
  width: 100px;
  background-size: cover;
  display: inline-block;
}

.posts-container {
  padding: 0;
}

#profileTabs .nav-link.active {
  /*bootstrap reset*/
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
}

.nav-tabs .nav-link:hover {
  /*bootstrap reset*/
  border: 1px solid transparent;
}

.blog-image-profile {
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  left: 70%;
  border-radius: 0 3px 3px 0;
  /*Automatically expands to right and left*/
}

.filter {
  background-color: rgba(0,0,0,0.3);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 70%;
  z-index: 2;
  border-radius: 0 3px 3px 0;
}

.blog-content-profile {
  padding: 1.5rem;
  padding-top: 1rem;
  min-height: 200px;
}

.discussion-content {
  padding: 1.5rem;
  padding-top: 1rem;
  min-height: 150px;
}

.discussion-image {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  /*Automatically expands to right and left*/
}

.discussion-image-xs {
  height: 100px;
  width: 100px;
  text-align: center;
  /*Automatically expands to right and left*/
}

.card-post {
  margin-top: 5px;
  margin-bottom: 10px;
}

.pills {
  margin-bottom: 20px;
}

/*End profile*/


/*Login/Register page*/
.login-card {
  padding: 30px;
  margin-top: 10rem; 
}


.btn-wire-dark-simple {
  background-color: transparent;
  border: 1px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
  cursor: pointer;

}

.btn-wire-dark-simple:active,
.btn-wire-dark-simple:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 1px solid #f29260;
  color: white;
}

.btn-wire-dark-simple:focus,
.btn-wire-simple:focus {
  outline: none;
}
/*EndLogin/Register page*/

/*Create post/blog page*/

.create-post-content{
  padding: 20px;
  margin-top: 40px;
}

#id_tags {
  padding-left: 10px;
  list-style: none;
}

#id_tags > li {
  display: inline-block;
  margin-right: 10px;
}
/*End create post/blog page*/


.underline{
  width: 15em;
  background:  #cc0000;
  height: .3em;
  margin: 0 auto 30px auto;
  border-radius: 1.5em;
}
.end_line{
  width: 80em;
  height: .1em;
  background: rgb(215,215,215);
  margin: 3em auto 5em auto;
}
.blog_image{
  width: 70%;
  margin: 5em auto;
}

.underline{
	width: 15em;
	background:  #cc0000;
	height: .3em;
	margin: 0 auto 30px auto;
	border-radius: 1.5em;
}
.end_line{
	width: 80em;
	height: .1em;
	background: rgb(215,215,215);
	margin: 3em auto 5em auto;
}
.blog_image{
	width: 70%;
	margin: 5em auto;
}

.underline{
	width: 15em;
	background:  #cc0000;
	height: .3em;
	margin: 0 auto 30px auto;
	border-radius: 1.5em;
}
.end_line{
	width: 80em;
	height: .1em;
	background: rgb(215,215,215);
	margin: 3em auto 5em auto;
}
.blog_image{
	width: 70%;
	margin: 5em auto;
}

