* {
  box-sizing: border-box
}

@font-face {
font-family: Nimbus;
src: url("/Nimbus.ttf");
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  /*overflow-clip-box: hidden;  */
}

@media screen and (min-width: 768px) {
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
}

nav {
  border-bottom: 1px solid #ccc;
  background-color: white;
  z-index: 2 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: sticky;
}

.nav-logo {
  height: 80px;
}

@media screen and (max-width: 770px) {
  .nav-logo{
   height: 50px;
  }
}
.content-top {
  height:  calc(100vh - 91px);
  position: absolute;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-left {
  animation: moveInLeft 1s ease-out;
}

.animate-right {
  animation: moveInRight 1s ease-out;
}

.animate-down {
  animation: moveUp 1s ease-out .5s;
  animation-fill-mode: backwards;
}

.fa-chevron-down {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
}

/*.content-top::after {
  content: "";
  background: url("../img/3.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/

.back {
  background : url("../img/otechspace.png");
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 0;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-size: cover;
}

#particles-js {
  height:  calc(100vh - 91px);
  background: linear-gradient(45deg, #cd517c 30%, #f75e0f 90%) !important;
  z-index: -2;
}

@media screen and (max-width: 786px) {
  .content-top {
    height:  calc(100vh - 61px);
  }
  #particles-js {
    height:  calc(100vh - 61px);
  }
}

.border-div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px 0 0;
  border-color: #fff #ddd transparent transparent;
}

.border-div-2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 100vw 0 0;
  border-color: #fff #ddd transparent transparent;
  transform: scale(1.0001) rotateZ(-180deg);

}

@media only screen and (min-width: 550px) {
  .border-div {
    border-width: 50px 100vw 0 0;
  }
  .border-div-2 {
    border-width: 50px 100vw 0 0;
  }
}

.btn-wire {
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s all;
  color: white;
  cursor: pointer;

}

.btn-wire:active,
.btn-wire:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid white;
  color: white;
}

.btn-wire:active,
.btn-wire:hover {
  text-decoration: none;
  background-color: #f29260;
  color: white;
}

.btn-wire-dark {
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: 2px solid #888;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s all;
  color: #888;
  cursor: pointer;

}

.btn-wire-dark:active,
.btn-wire-dark:hover {
  text-decoration: none;
  background-color: #f29260;
  border: 2px solid #f29260;
  color: white;
}

.btn-wire-dark:focus,
.btn-wire:focus {
  outline: none;
}
.spacer {
  transition: 0.3s all;
}

.about-section {
  background-color: #f7f7f7;
  position: relative;
}

.slant-heading {
  z-index: 3;
  line-height: 2rem;
  /*position: relative;*/
  /*top: -2.2rem;*/
  /*background: #333;*/
  /*-webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);*/
}

@media screen and (min-width: 770px){
  #about {
    border-bottom: 1px dashed #f29260;
  }
}

.section-heading {
  letter-spacing: 0.2rem;
  font-size: 2.7rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .section-heading {
    font-size: 2rem;
  }
}

.small-section-heading {
  letter-spacing: 0.2rem;
  font-family: Righteous;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  /*color: #fff;*/
}

.nav-link {
  position: relative;
}

.nav-link.pills::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom:2px solid #00f;
    border-radius: 50%;
}

.nav-link.pills.active:before {
  border: 0px;
}

.navbar-toggler:focus {
  outline: none;
}
.club-headings {
  font-family: Comfortaa;
}

.club-bg {
  position: relative;
  overflow: hidden;
  background-image: url(http://placekitten.com/g/300/300);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.club-bg:after {
  content: "";
  position: absolute;
  top: -6%;
  right: 80%;
  height: 700px;
  width: 600px;
  background: #f7f7f7;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(5deg);
}

ul.about-list {
  padding-left: 0;
  padding-top: 0;
}

p.about-para {
  padding-bottom: 0;
  margin-bottom: 0;
}

/*.section-heading:after {
  position: absolute;
  bottom: -0.7rem;
  content: '';
  width: 100%;
  height: 80px;
  left: 0;
  z-index: -1;
  background: #fff;
  border: solid #00f 2px;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden;
} */

.small-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: 'Quicksand';
}


.faculty-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 100px;
  width: 100px;
}

.contact-section {
  background: #333;
  /*position: relative;*/
  color: white;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .contact-form-div {
    border-bottom: 2px dotted white;
  }
}
@media screen and (min-width: 768px) {
.contact-form-div {
  border-right: 2px dotted white;
}

}
.logo-partner {
  height: 150px;
  margin-bottom: 20px;
  /*border: 2px solid white;*/
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.contact-label {
  font-family: 'Titillium Web'
}
.techspace-title {
  font-family: 'Do Hyeon';
  font-size: 4.5rem;
}

.circle-img {
  border-radius: 1000px;
  border: 2px solid #ccc;
  height: 90px;
  width: 90px;
  background-size: cover;
  display: inline-block;

}

.content-blog {
  background-color: #f7f7f7;
  position: relative;
  padding: 2rem;
  word-wrap: break-word;
}

#list-clubs {
  padding-top: 2rem;
}

.about-club {
  padding: 15px;
}
.list-group-item.active {
  background-color: #f29260;
  border-color: #f29260;
}

.hr {
  border-bottom: 1px solid #ccc;
}

.hr::before {
  content: ' ';
  background-color: #f29260;
  width: 30px;
  height: 3px;
  display: block;
}

.blog-date {
  color: grey;
  font-size: 13px;
}

#about-bg-diagonal {
    width: 50%;
    height: 480px;
    float: right;
    background-image: url(../img/13.jpg);
    border-left: 100px solid #f7f7f7;
    border-top: 480px solid transparent;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
}

input, textarea {
  padding: 5px;
  width: 300px;
}

input:focus, textarea:focus {
  outline: none;
}

.footer-links {
  color: black;
}
.footer-links:hover {
  text-decoration: none;
}

/*Card CSS begin*/
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Acme);

.box-wrapper {
  background-color: #fff;
  overflow: hidden;
  max-width: 400px;
  max-height: 500px;
  /*box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.48);*/
  padding: 0;
  text-align: center;
  position: relative;
}
.box-wrapper img {
  max-width: 100%;
  max-height: 250px;
  min-height: 200px;
}
.box-wrapper .success {
  position: absolute;
  top: 50%;
  left: 37%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 999;
}
.expanded .box-wrapper .success {
  opacity: 1;
  transition: opacity 0.3s 0.6s;
}
.box-wrapper .success:before, .box-wrapper .success:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
}
.box-wrapper .success:before {
  width: 40px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.box-wrapper .success:after {
  width: 88px;
  height: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -16px;
  left: 8px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Acme', sans-serif;
}

.desc {
  font-family: 'Satisfy', cursive;
  font-size: 1.2em;
}

.box-content {
  position: relative;
  z-index: 1;
}
.box-content:before {
  content: '';
  width: 200%;
  height: 60px;
  position: absolute;
  display: block;
  background-color: #fff;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  top: -50px;
  left: -10%;
  z-index: -1;
}
.box-content .buy {
  display: block;
  top: -80px;
  right: 30px;
  z-index: 2;
  width: 70px;
  height: 70px;
  position: absolute;
}
.box-content .buy span {
  width: 40px;
  height: 40px;
  background-color: #f29260;
  display: block;
  border-radius: 50%;
  position: absolute;
  font-size: 1.4em;
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-content .buy span i {
  padding: 5px;
}
.expanded .box-content .buy span {
  width: 750px;
  height: 750px;
}
.expanded .box-content .buy span i {
  display: none;
}

.know-more {
  width: 100%;
  padding: 5px;
  display: block;
}
.content-club {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin: 0.5rem;
  margin-top: 2rem;
  background: #d6d6d6;

}

.content {
  padding: 0px;
}

@media screen and (max-width: 1024px) {
  .content-club {
    border: none;
    padding: 0px;
    background: none;
    margin-bottom: 30px;
    border-bottom: 2px solid grey;
  }

  .box-wrapper {
    margin-bottom: 10px;
  }
  .circle-img {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 768px) {
  .content-club {
    border-bottom: none;
    margin: 0;
  }

}

.footer {
  background-color: #eee;
  position: relative;
  padding: 30px;
}

.page-link-visit  {
  margin-top: 45px;
}


.card-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.small-footer {
  background: #f2925f;
  position: relative;
  text-align: center;
  padding-top: 5px;
  display: flow-root;
}

/*End club card CSS*/
/*Timeline CSS*/
.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}


.cd-timeline__img {
  position: absolute;
  top: 20px;
  left: 14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline__img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline__img.cd-timeline__img--picture {
  background: #75ce66;
}

.cd-timeline__img.cd-timeline__img--movie {
  background: #c03b44;
}

.cd-timeline__img.cd-timeline__img--location {
  background: #f0ca45;
}


.cd-timeline__content {
  position: relative;
  margin-left: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.6em;
/*  -webkit-box-shadow: 0 3px 0 #d7e4ed;
          box-shadow: 0 3px 0 #d7e4ed;*/
}

.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.cd-timeline__content h2 {
  color: #303e49;
}


.cd-timeline__read-more,
{
  display: inline-block;
}

.cd-timeline__read-more {
  float: right;
  /*padding: .8em 1em;*/
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline__date {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: grey;
}

/*End Timeline CSS*/

/*Alumni CSS*/
.alumni-content {
    background: #fff;
    padding: 50px 50px;
    margin: 30px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 2px solid #526266;
}
/*End Alumni CSS*/