<nav class="navbar navbar-expand-sm navbar-light flex-nowrap" style="font-family: 'Quicksand'">
<div class="navbar-collapse collapse w-100 order-1 order-sm-0 dual-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'community:index' %}">Community</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'event:events' %}">Events</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link scrollTo" href="{% url 'home:index' %}#clubs">Clubs @Techspace</a>
        </li> -->
        <li class="nav-item d-block d-sm-none">
            <a class="nav-link scrollTo" href="{% url 'log:dashboard' name='anonymous' %}">Dashboard</a>
        </li>
        <li class="nav-item d-block d-sm-none">
            <a class="nav-link scrollTo" href="{% url 'logout' %}">Logout</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link scrollTo" href="{% url 'home:index' %}#contact"></a>
        </li> -->
<!--             <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li> -->
    </ul>
</div>
<div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="/"><img src="{% static './img/TS-1.jpg' %}" class="nav-logo"></a>
</div>
<button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target=".dual-collapse">
    <span class="navbar-toggler-icon"></span>
</button>
<!-- <span class="navbar-brand w-100">Navbar 5</span> -->
<div class="navbar-collapse collapse order-3 order-sm-2 w-100 dual-collapse d-none d-sm-block">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell" aria-hidden="true"></i><span class="badge badge-light">{{new_messages|length}}</span>
            </button>
            <a href="{% url 'log:inbox' name=user.username %}"><div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <p>You have {{new_messages|length}} new messages.</p>
            </div></a>
          </div>

        </li>
            <!-- <button class="btn-wire-dark">Sign in</button> or-->
        <li class="nav-item">
            <a href="{% url 'log:dashboard' name=user.username %}" title="Profile @{{user.username}}" class=""><div class="nav-user-img" style="background-image: url({{ userprofile.profile_pic.url }}); background-size: cover"></div></a>
        </li>
        <li class="nav-item">
            <a class="btn-wire-dark" href="{% url 'logout' %}" style="margin-top: 5px;display: inline-block;">Logout </a>
        </li>
        {% else %}
            <li class="nav-item">
              <a class="btn-wire-dark" href="{% url 'login' %}">Sign in</a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="w-75 d-block d-sm-none spacer"><!-- spacer --></div>
</nav>
