<!DOCTYPE html>
<html>
<head>
    <title>Techspace USICT | GGSIPU</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'img/TS-1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/community_style.css' %}">

    <meta name="viewport" content="width=device-width">
</head>
<body>
  {% include './navbar.html' %}

{% block content %}
{% endblock %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
