<!DOCTYPE html>
<html>
<head>
    <title>Techspace USICT | GGSIPU</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="icon" href="{% static 'img/TS-1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/community_style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
  {% include './components/navbar.html' %}

{% block content %}
{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
