{% extends '../community/base.html' %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/community_style.css' %}">





<div class="container">

    <div class="row">

        {% if latest_posts %}
        {% for latest in latest_posts reversed %}
        
        <div class="col-sm-12 col-md-6 col-lg-4 card-deck">
            <div class="card" id="event_card">
                <div class="card-body d-flex flex-column">
                        <h2 class="card-title text-center"> {{ latest.title }} </h2>
                        <div class="underline_events"></div>
                        <h5 class="card-subtitle" id="card_subtitle"> {{ latest.date }} </h5>
                        <h5 class="card-text" id="card_body"> {{ latest.content|linebreaks|truncatewords:50 }} </h5>
                        <a href="{% url 'latest:latest_posts_detail' latest.slug %}" class="btn-wire-dark align-self-end mt-auto" >Details</a>
                </div>
            </div>
        </div>


        {% endfor %}


        {% else %}
        <h1>No Latest Posts to display</h1>
        </div>

{% endif  %}

{% endblock %}
