<!DOCTYPE html>
<html>
<head>
	<title>Blog {% block title %}{% endblock %} </title>
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen|Raleway|Source+Sans+Pro|Ubuntu" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Bitter|Libre+Baskerville|Merriweather" rel="stylesheet">

<!-- Compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	 <!-- Compiled and minified JavaScript -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog_navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>
<body>
{% include './blog_navbar.html' %}
<div class="container-fluid">
{% block content %}
{% endblock %}
</div>

</body>
</html>
