{% extends './base.html' %}

{% block content %}

	{% if blog_detail %}
	<div class="blog_content">
{% if user.username == blog_detail.author %}
	<div class="stack">
		<form action="{% url 'log:blog-edit' blog_detail.slug %}" method="get">
			<button>Edit</button>
		</form>
		<form action="{% url 'log:blog-delete' blog_detail.slug %}" method="post" >
			{% csrf_token %}
			<button>Delete</button>
		</form>
	</div>


		<h1 class="center">{{ blog_detail.title }}</h1>
		<h4 class="center">{{ blog_detail.author }} </h4>
		<h4 class="center">{{ blog_detail.date }} </h4>
				<div class="underline"></div>

		<img class="centre img-responsive blog_image" src="{{ blog_detail.image.url }}">
		<p>{{ blog_detail.content|linebreaks }}</p>

	</div>

	{% else %}
	<h2>You are not authorised to visit this page. Kindly go to <a href="{% url 'home:index' %}">homepage</a>.</h2>
	{% endif %}
	{% else %}
		<h1>Nothing to show</h1>


	{% endif %}


{% endblock %}
