{% extends './base.html' %}




{% block content %}

	{% if blog_detail %}


	<div class="blog_content">
{% if user.username == blog_detail.author %}

		<div class="stack">
			<form action="{% url 'log:blog-edit' blog_detail.pk %}" method="get">
				<button>Edit</button>
			</form>
			<form action="{% url 'log:blog-delete' blog_detail.pk %}" method="post" >
				{% csrf_token %}
				<button>Delete</button>
			</form>
		</div>
	{% endif %}

		<h1 class="center">{{ blog_detail.title }}</h1>
		<h4 class="center">{{ blog_detail.author }}</h4>
		<h4 class="center"> {{ blog_detail.date }} </h4>
		<div class="underline"></div>
		{% if blog_detail.image.url is not None %}
		<img class="centre img-responsive blog_image" src="{{ blog_detail.image.url }}">
		{% else %}
		<h5>image not found</h5>
		{% endif %}
		<p> {{ blog_detail.content|linebreaks }} </p>

		<!-- upvotes and comments -->

		<i class="material-icons">thumb_up</i><br>


			{% with comments.count as total_comments %}
				<h4><i class="material-icons">comment</i>{{ total_comments }} comment{{total_comments|pluralize}}</h4>
			{% endwith %}

{% if user.is_authenticated %}
			<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" >
				{% csrf_token %}
				{% include './form-template.html' %}
				<div class="form-group">
					<div class="col-sm-offset-2">
						<button class="btn-primary">Submit</button>
					</div>
				</div>
			</form>
{% else %}
<h3>What are your thoughts. <a href="{% url 'log:login' %}">Log in</a> or <a href="{% url 'log:register' %}">Sign up</a></h3>

{% endif %}

<!-- displaying all comments -->
{% for comment in comments reversed %}
<ul class="collection">
	<li class="collection-item"><p>	<h5>{{ comment.comment_author }} <span class="small">{{ comment.comment_date }}</span><h5></p></li>
	<li class="collection-item"><h5>{{ comment.comment_text|linebreaks }}</h5></li>
</ul>
{% empty %}
<h4>No comments yet</h4>
{% endfor %}










	</div>
	{% else %}
		<h1>How come you came here if there is no blog!!! kindly tell <a href="mailto:prafful.usict.025164@ipu.ac.in?subject=feedback">me</a></h1>

	{% endif %}

{% endblock %}
