body{
	/*background: #b3c6ff;*/
}

.container-fluid{
	margin:0;
	padding: 0;
}
.navbar-brand{
	font-size: 2em;
	padding: .8em;
}
.navbar{
	height: 5em;
	background: #00004d;
	margin-bottom: 0;
}
.nav{
	padding:.8em;
}
.login_card{
	width: 30em;
	height: 25em;
	background:#f3f3f3 ;
	top: 35%;
	margin-top: -3em;
	position: fixed;
	margin-bottom: 35%;
	box-shadow: 10px 10px 5px #888888;
}
/*.login_card{
	width: 30em;
	margin-top: 15%;
	margin-left: 35%;
	margin-right: 35%;
	height: 20em;
	border: .1em solid #fff;
	background: #fff;
	position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -10em; 
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
} */
.inner_card{
	margin-top: 20%;
	margin-left: 10%;


}
.form-control{
	color: black!important;
	width: 24em;
	height: 2.5em;
	background: rgb(215,215,215);
}

.btn-primary{
	width: 24em;
	height: 3em;
}
.container-fluid{
	margin: 2%;
}
.center{
	text-align: center;
}

.blog_content{
	margin:0 10%;
	word-wrap: break-word;
}
p{
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	word-spacing: .1em;
	letter-spacing: .05em;
	font-size: 1em;

}
h2, h1{

    font-family: 'Bitter', serif;

}
h5, h4{

    font-family: 'Merriweather', serif;

}
.underline{
	width: 15em;
	background:  #cc0000;
	height: .3em;
	margin: 0 auto 30px auto;
	border-radius: 1.5em;
}
.end_line{
	width: 80em;
	height: .1em;
	background: rgb(215,215,215);
	margin: 3em auto 5em auto;
}
.blog_image{
	/*width: 70%;*/
	max-width: 60em;
	max-height: 30em; 
	margin: 5em auto;
}
.stack{
	display: inline-flex;
	margin: 1em;
}
.blog-container{
	margin: 4% 10%;
}
label{
	display: none;
}
#id_title, #id_venue{
	background-color: #f2f2f2;
	display: block;
	width: 100%;
	border: 2px solid transparent;
	height: 4em;
	padding: 2%;

}
#id_content{
	width: 100%;
	border: 0px solid transparent;
	background-color: #f2f2f2;
	resize: none;
	overflow-y: auto;
	min-height: 30em;
	padding: 2%;
}
label[for=id_image]{
	display: block;
	font-weight: 444;

}
.blog-sub{
	background-color: #1a1aff;
	color: #fff;
}
.blog-sub:hover, .blog-sub:active{
	background-color:#6699ff;
	color: #fff;
}
.team-container{
	margin-left: 30%;
	background-color: rgb(215,215,215);
	width: 30em;
	height: 35em;
}
.shift{
	margin: 5%;
	top: 5%;
}
