
<div class="container-fluid">
<div class="footer row">
    <div class="col-xs-12 col-md-4 text-center">
        <h4>Sitemap</h4>
        <a href="{% url 'community:index' %}" class="footer-links">Techspace Community</a><br>
        <a href="{% url 'event:events' %}" class="footer-links">Events</a><br>
        <a href="#clubs" class="footer-links">Clubs @Techspace</a>
        <br>
        <br>
    </div>
    <div class="col-xs-12 col-md-4 text-center social">
        <h5>Connect with us on:</h5>
        <a href="https://www.linkedin.com/company/techspace-usict/" class="footer-links"><i class="fa fa-linkedin fa-2x"></i></a> &nbsp;&nbsp;
        <a href="https://medium.com/techspace-usict" class="footer-links"><i class="fa fa-medium fa-2x"></i></a> &nbsp;&nbsp;
        <a href="https://facebook.com/techspaceusict" class="footer-links"><i class="fa fa-facebook fa-2x"></i></a> &nbsp;&nbsp;
        <a href="mailto:techspaceusict@gmail.com" class="footer-links"><i class="fa fa-envelope fa-2x"></i></a>
        <br>
        <br>
    </div>
    <div class="col-xs-12 col-md-4 text-center">
        <a href="http://ipu.ac.in" target="_blank" class="footer-links"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/GGSIU_logo.svg/220px-GGSIU_logo.svg.png" height="200px"><br>
        Guru Gobind Singh <br>Indraprastha University</a>
    </div>
</div>
</div>

{% include '../../community/components/smallfooter.html' %}
