{% extends '../community/base.html' %}

{% block content %}
<div class="container">
	{% if blog_detail %}


	<div class="blog_content center">
{% if user.username == blog_detail.author %}

		<div class="stack">
			<form action="{% url 'blog:blog-edit' blog_detail.slug %}" method="get">
				<button>Edit</button>
			</form>
			<form action="{% url 'blog:blog-delete' blog_detail.slug %}" method="post" >
				{% csrf_token %}
				<button>Delete</button>
			</form>
		</div>
	{% endif %}
 <div class="center">
		<h1 style="font-size:30px;">{{ blog_detail.title }}</h1>
		<h4 style="color: #f29260">{{ blog_detail.author }}</h4>
		<h5 style="color:#3d3d29"> {{ blog_detail.date }} </h4>
		<div class="underline"></div>
		{% if blog_detail.image.url is not None %}
		<div class="container-fluid card">
		<img class="centre img-responsive blog_image" src="{{ blog_detail.image.url }}">
		{% else %}
		<h5>image not found</h5>
	</div>
		{% endif %}

		 {{ blog_detail.content|safe|linebreaks }}



		<!-- upvotes and comments -->




	 		<div class="post-actions">
				{% if user.is_authenticated %}
					<form class="form-horizontal" action="{% url 'community:toggle-upvote'%}" method="post">
							<input type="hidden" value="{{ blog_detail.title }}" name="title">
							<input type="hidden" value="1" name="onDetailPage">
							{% csrf_token %}
							<input type="hidden" value="{{ blog_detail.state }}" name="state">
									{% if blog_detail.state == 1 %}
											<button type="submit" class="post-actions-button small-p upvoted"><i class="fa fa-thumbs-up"></i> Upvoted({{ blog_detail.upvotes }})</button> |
									{% endif %}
									{% if blog_detail.state == 0 %}
											<button type="submit" class="post-actions-button small-p"><i class="fa fa-thumbs-up"></i> Upvote ({{ blog_detail.upvotes }})</button> |
									{% endif %}
					</form>
				{% endif %}
				<hr>
			{% with comments.count as total_comments %}
				<p style="margin-top:-20px;">{{ total_comments }} comment{{total_comments|pluralize}}</p>
			{% endwith %}
		</div>
		<div class="container">
{% if user.is_authenticated %}
			<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" >
      <div class="container">
				{% csrf_token %}

				{% include '../global_components/form-template.html' %}
			</div>
				<div class="form-group">
					<div class="col-sm-offset-2">
						<button class="btn-wire-dark">Submit</button>
					</div>
				</div>
			</form>
		</div>

{% else %}
<h3>What are your thoughts. <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">Sign up</a></h3>

{% endif %}

<!-- displaying all comments -->

<div class="container">
<ul class="list-group">
	{% for comment in comments reversed %}

	<li class="list-group-item " style="background-color: #f7f7f7;text-align:left"><h5>{{ comment.comment_text|linebreaks }}</h5><p> <span class="blog-date"><strong style="color:#000;font-size:20px;"> By:{{ comment.comment_author }}</strong>   {{ comment.comment_date }}</span></p>
  <a href="#" class="small-p"><i class="fa fa-thumbs-up"></i> Upvote (22)</a>
	</li>
	{% endfor %}

</ul>
</div>

<!--

<h4>No comments yet</h4> -->
</div>











	{% else %}
		<h1>How come you came here if there is no blog!!! kindly tell <a href="mailto:prafful.usict.025164@ipu.ac.in?subject=feedback">me</a></h1>

	{% endif %}
</div>
{% endblock %}
