

{% extends '../community/base.html' %}
{% load cloudinary %} 

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-xs-12 col-md-8 card create-post-content">
			<h4 class="small-heading">Edit Blog
	        <div class="hr"></div>
	        </h4>
	        <br>
	<form method="post" class="form-group" enctype="multipart/form-data">
		{% csrf_token %}
        {{ form.media }}
		{{ form.as_p }}
		<button class="btn btn-wire-dark-simple">Submit</button>

	</form>
		</div>
	</div>
</div>
<style type="text/css">
	label {
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		color: grey;
		font-size: 14px;
	}
</style>
{% endblock %}