{% extends '../community/base.html' %}

{% block content %}

<br>
<div class="container-fluid">

{% if blog_detail %}

  		<div class="row">
  		<div class="col-md-2 d-none d-sm-block">
  			<div class="sticky" style="text-align: right;">
  				<br>
  				<a href="{% url 'community:index' %}"><i class="fa fa-arrow-left"></i> Back to home</a>
  			</div>
  		</div>
  		<div class="col-xs-12 col-sm-12 col-md-8 card">

	  		<br>
	  		<h4>{{ blog_detail.title }}</h4>
			<h6>By: <a href="{% url 'log:dashboard' name=blog_detail.author %}">{{ blog_detail.author }}</a><span class="small-p"> on {{ blog_detail.date }}</span></h6>


		{% if blog_detail.image.url is not None %}
		<div class="row">
		<div class="col-xs-12 col">
			<img class="img-responsive post-page-image" src="{{ blog_detail.image.url }}">
		</div>
		</div>
		{% endif %}

		{{ blog_detail.content|safe|linebreaks|urlize }}




	    <div class="row">
		<div class="col-xs-12 col-sm-12 post-page-content">

		<!-- Number of comments -->
		<div class="row" id="post-actions">
			<!-- <div class="col-md-2 d-none d-sm-block"></div> -->
			<div class="col col-xs-12 col-md-12">
		 	<div class="post-actions">
				<form class="form-horizontal upvote-form" id="{{ blog_detail.id }}" action="{% url 'community:toggle-upvote'%}" method="post">
						<input type="hidden" value="{{ blog_detail.id }}" name="id">
						{% csrf_token %}
						<input type="hidden" id="state-{{blog_detail.id}}" value="{{ blog_detail.state }}" name="state">
						<button type="submit" id="btn-{{ blog_detail.id }}" class="post-actions-button small-p {%if blog_detail.state == 1%}upvoted{%else%}{%endif%}"><i class="fa fa-thumbs-up"></i> ({{ blog_detail.upvotes }}){%if blog_detail.state == 1%} Upvoted{% else %} Upvote{% endif %}</button> |
						<span class="small-p"> {{ blog_detail.comments.all.count }} comment{{blog_detail.comments.all.count|pluralize}}</span>
				</form>
				{% if user.username == blog_detail.author %}
				|
				<form style="display: inline;" action="{% url 'blog:blog-edit' blog_detail.slug %}" method="get" class="form-group">
					<button class="post-actions-button small-p">Edit Post</button>
				</form>
				|
				<form style="display: inline;" action="{% url 'blog:blog-delete' blog_detail.slug %}" method="post" class="form-group">
					{% csrf_token %}
					<button class="post-actions-button small-p" onclick="return confirm('Are you sure you want to delete this?')">Delete Post</button>
				</form>

	    		{% endif %}
			</div>
			</div>
		</div>
		<!-- End Number of comments -->

		<!--  Comment box-->

		<div class="row">
			<!-- <div class="col-md-2 d-none d-sm-block"></div> -->
			<div class="col col-xs-12 col-md-12">
			{% if user.is_authenticated %}
			<form class="form-horizontal form-group comment-form" method="post" enctype="multipart/form-data" style="margin-bottom: 0.3rem">
				{% csrf_token %}
	   			{% for field in form %}
				<div class="form-group">
					{{ field }}
				</div>

				{% endfor %}

				<div class="list-group mention_suggestions"></div>
				{% if comments %}<span style="float: left;padding-top: 10px;">Comments:</span>{% endif %}

	        	<button class="btn btn-wire-dark blog-submit-comment">Submit Comment</button>
			</form>
			{% else %}
			<h5><a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">Sign up</a> to comment.</h5>
			{% endif %}
			</div>
		</div>

		<!-- End comment Box -->

		<!-- displaying all comments -->
		<div class="row">
			<!-- <div class="col-md-2 d-none d-sm-block"></div> -->
			<div class="col col-xs-12 col-md-12">
			<ul class="list-group comment-list">
			{% for comment in comments reversed %}

			<li class="list-group-item comment">
				{{ comment.comment_text|safe|linebreaks }}
				<p>
					<a href="{% url 'log:dashboard' name=comment.comment_author %}"><span class="small-p">{{ comment.comment_author }}</span></a>
					<span class="blog-date"> on {{ comment.comment_date }}</span>
				</p>
				{% if user.is_authenticated %}
				<form class="form-horizontal comment-upvote-form" id="{{ comment.id }}" action="{% url 'blog:toggle-comment-upvote'%}" method="post">
						<input type="hidden" value="{{ comment.id }}" name="id">
						{% csrf_token %}
						<input type="hidden" id="state-comment-{{comment.id}}" value="{{ comment.state }}" name="state">
						<button type="submit" id="btn-comment-{{ comment.id }}" class="post-actions-button small-p {%if comment.state == 1%}upvoted{%else%}{%endif%}"><i class="fa fa-thumbs-up"></i> ({{ comment.upvotes_len }}){%if comment.state == 1%} Upvoted{% else %} Upvote{% endif %}</button>
						| <span class="small-p reply-comment" onclick="$('#{{comment.id}}-reply').slideToggle('fast');">Reply</span>
				</form>
				{% endif %}
				<ul class="list-group comment-reply-list-{{ comment.id }}">
					{% for reply in comment.reply_comments %}

					<li class="list-group-item reply">{{ reply.comment_text|safe|linebreaks }}<a href="{% url 'log:dashboard' name=comment.comment_author %}"><span class="small-p">{{ reply.comment_author }}</span></a><span class="blog-date"> on {{ reply.comment_date }}</span>

					{% if user.is_authenticated %}
						<form class="form-horizontal comment-upvote-form" id="{{ reply.id }}" action="{% url 'blog:toggle-comment-upvote'%}" method="post">
								<input type="hidden" value="{{ reply.id }}" name="id">
								{% csrf_token %}
								<input type="hidden" id="state-comment-{{reply.id}}" value="{{ reply.state }}" name="state">
								<button type="submit" id="btn-comment-{{ reply.id }}" class="post-actions-button small-p {%if reply.state == 1%}upvoted{%else%}{%endif%}"><i class="fa fa-thumbs-up"></i> ({{ reply.upvotes_len }}){%if reply.state == 1%} Upvoted{% else %} Upvote{% endif %}</button>
						</form>
					{% endif %}

					</li>

					{% endfor %}
				</ul>
				<form class="form-horizontal comment-reply-form {% if not comment.reply_comments %} hidden
				{% endif %}" id="{{ comment.id }}-reply" action="{% url 'blog:reply-comment' %}" method="post">
					{% csrf_token %}


					<div class="input-group mb-3">
					<input class="{{ comment.id }} form-control reply-comment-box" id="input-{{ comment.id }}" name="comment_text" autocomplete="off" required type="text" oninput="get_suggestions(this.value, this.className);"/>
					  <div class="input-group-append">
					    <button type="submit" class="input-group-text reply-comment-button">Add a reply</button>
					  </div>
					</div>
					<div class="list-group mention_suggestions-{{ comment.id }}"></div>
					<!-- {{ form.comment_text }} -->
					<input type="hidden" value="{{ comment.id }}" name="id" />
				</form>
			</li>
			{% endfor %}
			</ul>
			<br>
			<br>
			</div>
		</div>
	</div>
	</div>

</div>
</div>









	{% else %}
		<h1>How come you came here if there is no blog!!! kindly tell <a href="mailto:prafful.usict.025164@ipu.ac.in?subject=feedback">me</a></h1>

	{% endif %}
</div>



{% endblock %}








{% block scripts %}

<script src="{% static 'js/blog/script.js' %}"></script>

{% endblock %}
