{% extends 'club_base/base.html' %}

{% block title %}Electrotech{% endblock %}

{% block content %}

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Electrotech <span>- Techspace</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="#one">About</a></li>
					<li><a href="#two">Blogs</a></li>
					<li><a href="#three">Our Team</a></li>
					<li><a href="#four">Events</a></li>
				</ul>
			</nav>

			<section id="banner" class="bg-img" data-bg="{% static 'img/electrotech/banner.jpg' %}">
				<div class="inner">
					<header>
						<h1>Electrotech</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="{% static 'img/electrotech/banner2.jpg' %}">
				<div class="inner">
					<article class="box">
						<header>
							<h2>About</h2>
						</header>
						<div class="content">
							<p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.
							Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
						</div>
						
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="{% static 'img/electrotech/banner3.jpg' %}">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Blogs</h2>
						</header>
						<div class="content">
							<h3>Click the link below to read our blogs.</h3>
						</div>
						<footer>
							<a href="{% url 'electrotech:post' %}" class="button alt">Blogs</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="{% static 'img/electrotech/banner4.jpg' %}">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Our Team</h2>
						</header>
						<div class="content">
								<div class="row">
								<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
						            <div class="MultiCarousel-inner">
						                <div class="item">
						                    <div class="pad15">
						                        <p class="lead">Multi Item Carousel</p>
						                        <p>₹ 1</p>
						                        <p>₹ 6000</p>
						                        <p>50% off</p>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <p class="lead">Multi Item Carousel</p>
						                        <p>₹ 1</p>
						                        <p>₹ 6000</p>
						                        <p>50% off</p>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <p class="lead">Multi Item Carousel</p>
						                        <p>₹ 1</p>
						                        <p>₹ 6000</p>
						                        <p>50% off</p>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <p class="lead">Multi Item Carousel</p>
						                        <p>₹ 1</p>
						                        <p>₹ 6000</p>
						                        <p>50% off</p>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <p class="lead">Multi Item Carousel</p>
						                        <p>₹ 1</p>
						                        <p>₹ 6000</p>
						                        <p>50% off</p>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <p class="lead">Multi Item Carousel</p>
						                        <p>₹ 1</p>
						                        <p>₹ 6000</p>
						                        <p>50% off</p>
						                    </div>
						                </div>
						                <div class="item">
						                    <div class="pad15">
						                        <p class="lead">Multi Item Carousel</p>
						                        <p>₹ 1</p>
						                        <p>₹ 6000</p>
						                        <p>50% off</p>
						                    </div>
						                </div>
						            </div>
						            <button class="btn btn-primary leftLst"><</button>
						            <button class="btn btn-primary rightLst">></button>
						        </div>
							</div>
							
						</div>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="{% static 'img/electrotech/banner5.jpg' %}">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Events</h2>
						</header>
						<div class="content">
							<img class="event" src="http://www.skiheavenly.com/~/media/heavenly/images/732x260%20header%20images/events-heavenly-header.ashx">
						</div>
						<footer>
							<a href="{% url 'electrotech:events' %}" class="button alt">All Events</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Us</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; TechSpace (USICT)
					</div>

				</div>
			</footer>

{% endblock %}